@model WebPccuClub.Models.BorrowRecordMangViewModel

@{
    Layout = "_BackendLayout";

    bool show = false;
    List<SelectListItem> LstSubSystemBelong = ViewBag.ddlSubSystemBelong;
    List<BorrowRecordMangDeviceModel> Lst = Model.EditModel.LstDevice.Where(x => x.BorrowStatus == "01").ToList();
    if (Lst.Count > 0) { show = true; }
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <form method="post" id="form" enctype="multipart/form-data" action="">

                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                                <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                            </h6>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Created)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.Created, new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.LastModified)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.LastModified, new {@class = "form-control"})</td>
                                    </tr>

                                    <tr>
                                        <th width="10%">申請單位類型<span class="required">*</span></th>
                                        <td>@Html.DropDownListFor(m => m.EditModel.ApplyUnitType ,(List<SelectListItem>)ViewBag.ddlApplyUnitType,"請選擇申請單位類型", new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請單位<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyUnitName, new {@class = "form-control", placeholder = "請輸入申請單位"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請人<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyMan, new {@class = "form-control", placeholder = "請輸入申請人"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請人職稱<span class="required"></span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyTitle, new {@class = "form-control", placeholder = "請輸入申請人職稱"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請人Email<span class="required"></span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyEmail, new {@class = "form-control", placeholder = "請輸入申請人Email"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請人電話/分機<span class="required"></span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyTel, new {@class = "form-control", placeholder = "申請人電話/分機"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">申請目的<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ApplyPurpose, new {@class = "form-control", placeholder = "請輸入申請目的"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">活動名稱<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.ActName, new {@class = "form-control", placeholder = "請輸入活動名稱"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">使用地點<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.UseLocation, new {@class = "form-control", placeholder = "請輸入使用地點"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">用途及特殊需求說明<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.UseDesc, new {@class = "form-control", placeholder = "請輸入用途及特殊需求說明"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">實際使用起訖日<span class="required">*</span></th>
                                        <td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.EditModel.UseSDate, new {@class = "form-control", @placeholder="請輸入實際使用日期(起)", @for="finish_date"})
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon1">至</span>
                                                </div>
                                                @Html.TextBoxFor(m => m.EditModel.UseEDate, new {@class = "form-control", @placeholder="請輸入實際使用日期(訖)", @for="finish_date"})
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="10%">約定領取時間<span class="required"></span></th>
                                        <td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.EditModel.TakeSDate, new {@class = "form-control", @placeholder="請輸入約定領取時間", @for="finish_date"})
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon1">至</span>
                                                </div>
                                                @Html.TextBoxFor(m => m.EditModel.TakeEDate, new {@class = "form-control", @placeholder="請輸入約定領取時間", @for="finish_date"})
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="10%">借用資源分類</th>
                                        <td>@Model.EditModel.MainClassIDText</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">借用單審核狀態</th>
                                        <td>@Html.DropDownListFor(m => m.EditModel.ActVerify ,(List<SelectListItem>)ViewBag.ddlBorrowActVerify,"請選擇借用單審核狀態", new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">佐證資料</th>
                                        <td>
                                            @foreach (var item in Model.EditModel.LstFile)
                                            {
                                                <div>
                                                    <a target="_blank" href="../@item.FilePath">@item.FileName</a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="10%">備註</th>
                                        <td>
                                            @Html.TextAreaFor(m => m.EditModel.BorrowMemo, new {@class = "form-control", placeholder = "請輸入其它備註", rows = "5"})
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="card bg-light">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                借用資源清單(點擊開合)
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body table-responsive-md">

                                            @if (show)
                                            {
                                                <div id="divReturn" class="d-flex justify-content-end mb-1" style="width: 80%; flex-flow: wrap; flex-direction: row; display:none !important">
                                                      @Html.TextBoxFor(m => m.ddlModel.ID, new {@class = "form-control", placeholder = "請輸入歸還物品資產編號", @style="width:70%;" })
                                                        <button id="btnSingoReturn" type="button" class="btn btn-success">確認</button>
                                                        <button id="btnSingoCancel" type="button" class="btn btn-default">取消</button>
                                                </div>

                                                <div id="divReturn2">
                                                <div class="d-flex justify-content-end mb-1">
                                                    <button type="button" class="ml-1 btn btn-sm btn-outline-danger" id="box_return" data-single="1">單筆歸還</button>
                                                </div>
                                                <p class="text-sm text-danger text-right">僅作[歸還]確認，若資源有損壞、遺失請至子資源維護調整狀態</p>
                                                </div>
                                            }

                                            <table class="table table-bordered borrow_table">
                                                <thead>
                                                <th width="5%">#</th>
                                                <th>資源名稱</th>
                                                <th width="8%">物品類型</th>
                                                <th width="8%">借用數量</th>
                                                <th width="15%">領取狀態</th>
                                                <th width="15%">功能</th>
                                                </thead>
                                                <tbody>
                                                    @for(int i = 0; i <= Model.EditModel.LstDevice.Count -1; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="hidden" id="@string.Format("HiddenID{0}", (i+1))" value="@Model.EditModel.LstDevice[i].ID">
                                                                @(i + 1)
                                                            </td>
                                                            <td>
                                                                <input type="hidden" id="@string.Format("HiddenMainResourceID{0}", (i+1))" value="@Model.EditModel.LstDevice[i].MainResourceID" >
                                                                @Model.EditModel.LstDevice[i].MainResourceIDText
                                                            </td>
                                                                @if (Model.EditModel.LstDevice[i].BorrowType == "01")
                                                                {
                                                                    <td><span class="badge badge-warning">大量借用</span></td>
                                                                    <td>@Model.EditModel.LstDevice[i].BorrowAmt</td>

                                                                    @if (Model.EditModel.LstDevice[i].BorrowStatus == "01")
                                                                    {
                                                                        <td>
                                                                            <span class="text-muted">尚未領取</span>
                                                                            <div id="@string.Format("MultshowSecondResource{0}", (i+1))"></div>
                                                                        </td>
                                                                        <td>
                                                                            <button id="@string.Format("MultBorrowSearch{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-primary">借出</button>
                                                                            <button id="@string.Format("MultBorrowSave{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-secondary" style="display:none;">確認借出</button>
                                                                            <a href="#" class="ml-1 btn btn-sm btn-outline-danger" onclick="ChkDel('@Model.EditModel.LstDevice[i].ID');">刪除</a>
                                                                        </td>
                                                                    }
                                                                    else if(Model.EditModel.LstDevice[i].BorrowStatus == "02")
                                                                    {
                                                                    <td>
                                                                        <span class="text-muted">@Model.EditModel.LstDevice[i].BorrowStatusText</span>
                                                                        <br/>
                                                                        <div id="@string.Format("MultshowSecondResource{0}", (i+1))">
                                                                            <span class="text-sm">數量:@Model.EditModel.LstDevice[i].BorrowRealAmt</span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button id="@string.Format("MultRetrun{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-danger">大量歸還</button>
                                                                        <button id="@string.Format("MultRetrunSave{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-secondary" style="display:none;">確認歸還</button>
                                                                    </td>
                                                                    }
                                                                    else if(Model.EditModel.LstDevice[i].BorrowStatus == "03")
                                                                    {
                                                                    <td>
                                                                        <span class="text-muted">@Model.EditModel.LstDevice[i].BorrowStatusText</span>
                                                                        <br/>
                                                                        <div id="@string.Format("MultshowSecondResource{0}", (i+1))">
                                                                            <span class="text-sm">歸還數量:@Model.EditModel.LstDevice[i].BorrowRealAmt</span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                    }
                                                                }
                                                                else    
                                                                {
                                                                @if (Model.EditModel.LstDevice[i].BorrowStatus == "01")
                                                                    {
                                                                        <td><span class="badge badge-success">單筆借用</span></td>
                                                                        <td>@Model.EditModel.LstDevice[i].BorrowAmt</td>
                                                                        <td>
                                                                            <span class="text-muted">尚未領取</span>
                                                                            <div id="@string.Format("showSecondResource{0}", (i+1))"></div>
                                                                        </td>
                                                                        <td>
                                                                            <button id="@string.Format("BorrowSearch{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-primary">借出</button>
                                                                            <button id="@string.Format("BorrowSave{0}", (i+1))" type="button" class="ml-1 btn btn-sm btn-outline-secondary" style="display:none;">確認借出</button>
                                                                            <a href="#" class="ml-1 btn btn-sm btn-outline-danger" onclick="ChkDel('@Model.EditModel.LstDevice[i].ID');">刪除</a>
                                                                        </td>                                                                    
                                                                    }
                                                                    else if(Model.EditModel.LstDevice[i].BorrowStatus == "02")
                                                                    {
                                                                        <td><span class="badge badge-success">單筆借用</span></td>
                                                                        <td>@Model.EditModel.LstDevice[i].BorrowAmt</td>
                                                                        <td>
                                                                            <span class="text-muted">@Model.EditModel.LstDevice[i].BorrowStatusText</span>
                                                                            <br />
                                                                            <span class="text-sm">@Model.EditModel.LstDevice[i].BorrowSecondResourceID</span>
                                                                        </td>
                                                                        <td>
                                                                        </td>
                                                                    }
                                                                   else if(Model.EditModel.LstDevice[i].BorrowStatus == "03")
                                                                    {
                                                                        <td><span class="badge badge-success">單筆借用</span></td>
                                                                        <td>@Model.EditModel.LstDevice[i].BorrowAmt</td>
                                                                        <td>
                                                                            <span class="text-muted">@Model.EditModel.LstDevice[i].BorrowStatusText</span>
                                                                            <br />
                                                                            <span class="text-sm">@Model.EditModel.LstDevice[i].BorrowSecondResourceID</span>
                                                                        </td>
                                                                        <td>
                                                                        </td>
                                                                    }
                                                                }
                                                        </tr>
                                                        
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body table-responsive-sm">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="10%">狀態歷程<span class="required"></span></th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- [編輯]的時候才會有紀錄歷程 -->
                                                    <ul class="list-group list-group-flush text-sm mb-2">
                                                        @foreach (EventData item in Model.EditModel.LstEventData)
                                                        {
                                                            <li class="list-group-item p-1">
                                                                @item.EventDateTime.Value.ToString("yyyy/MM/dd HH:mm")<span class="badge badge-primary mx-1">@item.EventIDText</span> @item.Text
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="alert alert-default-warning mb-1"
                                                         role="alert">
                                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                                        審核完成或有異動，皆會以email方式通知申請人申請結果
                                                    </div>
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.EditModel.EventDateTime, new { @class = "form-control", @readonly = "readonly"})
                                                        @Html.DropDownListFor(m => m.EditModel.EventID, (List<SelectListItem>)ViewBag.ddlBorrowActVerify,"請選擇事件狀態", new {@class = "form-control"})
                                                    </div>
                                                    @Html.TextAreaFor(m => m.EditModel.EventText, new {@class = "form-control mt-1", @rows="4", @placeholder = "請輸入紀錄（內容將一併email發送給申請人）"})
                                                    <div class="d-flex justify-content-end mt-1">
                                                        <button type="button" class="btn btn-sm btn-outline-primary mx-1" id="add_history" onclick="SaveEventData()">
                                                            <i class="fa-solid fa-plus"></i>
                                                            新增本次紀錄
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-outline-secondary mx-1" id="clean_history">
                                                            <i class="fa-solid fa-x"></i>
                                                            清空目前輸入內容
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="">
                                                        輔導老師或承辦人註記<span class="required"></span>
                                                    </label>
                                                    @Html.TextAreaFor(m => m.EditModel.TeacherMark, new {@class = "form-control", placeholder = "請輸入輔導老師或承辦人註記", rows = "5"})
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="">
                                                        器材專業人員註記<span class="required"></span>
                                                    </label>
                                                    @Html.TextAreaFor(m => m.EditModel.DeviceMark, new {@class = "form-control", placeholder = "請輸入器材專業人員註記", rows = "5"})
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="">
                                                        器材領取註記<span class="required"></span>
                                                    </label>
                                                    @Html.TextAreaFor(m => m.EditModel.TakeMark, new {@class = "form-control", placeholder = "請輸入器材領取註記", rows = "5"})
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="">
                                                        器材歸還註記<span class="required"></span>
                                                    </label>
                                                    @Html.TextAreaFor(m => m.EditModel.ReturnMark, new {@class = "form-control", placeholder = "請輸入器材歸還註記", rows = "5"})
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-group col-md-12">
                                                <label for="">
                                                    其它備註<span class="required"></span>
                                                </label>
                                                @Html.TextAreaFor(m => m.EditModel.Memo, new {@class = "form-control", placeholder = "請輸入其它備註", rows = "5"})
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-success" onclick="SaveData()">儲存</button>
                        </div>
                    </div>
                    <!-- /.card -->
                    @Html.HiddenFor(m => m.EditModel.BorrowMainID)
                </form>
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>

    function ChkDel(Ser) {
        $.confirm({
            title: '確定刪除?',
            content: '刪除後資料無法復原!',
            buttons: {
                確定: function () {
                    SendAjax({
                        url: '@Url.Action("DeleteDevice")',
                        data: { 'Ser': Ser },
                        success: function (result) {
                            if (result.errorCode == 0) { $.alert("刪除成功"); }
                            else { $.alert(result.errorMsg); }

                            window.location.reload();
                        }
                    });
                },
                取消: function () {
                },
            }
        });
    }

    $(document).ready(function () {
        $('#clean_history').click(function () {
            $('#@Html.IdFor(m => m.EditModel.EventText)').val("");
        });

        $("[id ^= 'BorrowSearch']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("BorrowSearch", "");
            InitBorrowResource(rowID, $("#HiddenMainResourceID" + rowID).val());

            $("#BorrowSearch" + rowID).hide();
            $("#BorrowSave" + rowID).show();
        });

        $("[id ^= 'BorrowSave']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("BorrowSave", "");
            var selectedSecondResourceID = $(this).closest('tr').find('select').val();

            if (selectedSecondResourceID == "") { $.alert("需選擇資產編號不可為空"); return; }

            UpdSecondResource($("#HiddenID" + rowID).val(), selectedSecondResourceID);

            $("#BorrowSearch" + rowID).show();
            $("#BorrowSave" + rowID).hide();
        });

        $("[id ^= 'MultBorrowSearch']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("MultBorrowSearch", "");
            var BorrowMainID = $('#@Html.IdFor(m => m.EditModel.BorrowMainID)').val();

            InitMultBorrowResource(rowID, $("#HiddenMainResourceID" + rowID).val(), BorrowMainID);

            $("#MultBorrowSearch" + rowID).hide();
            $("#MultBorrowSave" + rowID).show();
        });

        $("[id ^= 'MultBorrowSave']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("MultBorrowSave", "");
            var BorrowAmt = $(this).closest('tr').find($('#@Html.IdFor(m => m.ddlModel.ID)')).val();
            var MainResourceID = $("#HiddenMainResourceID" + rowID).val();

            if (BorrowAmt == "") { $.alert("借出數量不可為空"); return; }
            if (BorrowAmt < 0) { $.alert("借出數量需大於0"); return; }

            UpdMultSecondResource($("#HiddenID" + rowID).val(), MainResourceID, BorrowAmt);

            $("#MultBorrowSearch" + rowID).show();
            $("#MultBorrowSave" + rowID).hide();
        });

        $("[id ^= 'MultRetrun']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("MultRetrun", "");
            var DeviceID = $("#HiddenID" + rowID).val();

            InitMultReturnResource(rowID);

            $("#MultRetrun" + rowID).hide();
            $("#MultRetrunSave" + rowID).show();
        });

        $("[id ^= 'MultRetrunSave']").click(function () {
            var buttonId = $(this).attr('id');
            var rowID = buttonId.replace("MultRetrunSave", "");
            var DeviceID = $("#HiddenID" + rowID).val();
            var MainResourceID = $("#HiddenMainResourceID" + rowID).val()
            var ReturnAmt = $(this).closest('tr').find($('#@Html.IdFor(m => m.ddlModel.ID)')).val();

            UpdMultRetrunResource(DeviceID, MainResourceID, ReturnAmt);

            $("#MultRetrun" + rowID).show();
            $("#MultRetrunSave" + rowID).hide();
        });

        $("#box_return").click(function () {
            $("#divReturn2").hide();
            $("#divReturn").show();
        });

        $("#btnSingoReturn").click(function () {
            var BorrowMainID = $('#@Html.IdFor(m => m.EditModel.BorrowMainID)').val();
            var ReturnSecondResource = $('#@Html.IdFor(m => m.ddlModel.ID)').val();


            UpdSingoReturn(BorrowMainID, ReturnSecondResource);
        });

        $("#btnSingoCancel").click(function () {
             $("#divReturn2").show();
            $("#divReturn").attr('style', 'width: 80%; flex-flow: wrap; flex-direction: row; display:none !important');
        });
    });

    function InitBorrowResource(rowID, MainResourceID) {

        SendAjax({
            url: '@Url.Action("InitBorrowSecondsResourceID")',
            data: { 'MainResourceID': MainResourceID, 'RowID': rowID },
            success: function (result) {
                $('#showSecondResource' + rowID).html(result);
            }
        });
    }

    function InitMultBorrowResource(rowID, MainResourceID, BorrowMainID) {

        SendAjax({
            url: '@Url.Action("InitMultBorrowResource")',
            data: { 'MainResourceID': MainResourceID, 'RowID': rowID, 'BorrowMainID' : BorrowMainID },
            success: function (result) {
                $('#MultshowSecondResource' + rowID).html(result);
            }
        });
    }

    function UpdSecondResource(DeviceID, selectedSecondResourceID) {

        SendAjax({
            url: '@Url.Action("UpdSecondResource")',
            data: { 'DeviceID': DeviceID, 'selectedSecondResourceID': selectedSecondResourceID },
            success: function (result) {
                window.location.reload();
            }
        });
    }

    function UpdMultSecondResource(DeviceID, BorrowSecondResourceID, BorrowAmt) {

        SendAjax({
            url: '@Url.Action("UpdMultSecondResource")',
            data: { 'DeviceID': DeviceID, 'BorrowSecondResourceID' : BorrowSecondResourceID, 'BorrowAmt': BorrowAmt },
            success: function (result) {
                window.location.reload();
            }
        });
    }

    function InitMultReturnResource(rowID) {

        SendAjax({
            url: '@Url.Action("InitMultReturnResource")',
            data: { },
            success: function (result) {
                $('#MultshowSecondResource' + rowID).html(result);
            }
        });
    }

    function UpdMultRetrunResource(DeviceID, BorrowSecondResourceID, ReturnAmt) {

        SendAjax({
            url: '@Url.Action("UpdMultRetrunResource")',
            data: { 'DeviceID': DeviceID, 'BorrowSecondResourceID': BorrowSecondResourceID, 'ReturnAmt': ReturnAmt },
            success: function (result) {
                window.location.reload();
            }
        });
    }


    function UpdSingoReturn(BorrowMainID, ReturnSecondResource) {

        SendAjax({
            url: '@Url.Action("UpdSingReturn")',
            data: { 'BorrowMainID': BorrowMainID, 'ReturnSecondResource': ReturnSecondResource },
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "歸還成功",
                        buttons: {
                            確定: function () {
                                window.location.reload();
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }




    function SaveEventData() {
        var data = new FormData()

        var BorrowMainID = $('#@Html.IdFor(m => m.EditModel.BorrowMainID)').val();
        var EventID = $('#@Html.IdFor(m => m.EditModel.EventID)').val();
        var EventDateTime = $('#@Html.IdFor(m => m.EditModel.EventDateTime)').val();
        var EventText = $('#@Html.IdFor(m => m.EditModel.EventText)').val();

        if (BorrowMainID == "") { window.location.reload(); }
        if (EventDateTime == "") { window.location.reload(); }
        if (EventID == "") { $.alert("請選擇事件狀態"); return; }
        if (EventText == "") { $.alert("請輸入本次紀錄內容"); return; }

        data.append('@Html.NameFor(m => m.EditModel.BorrowMainID)', BorrowMainID);
        data.append('@Html.NameFor(m => m.EditModel.EventDateTime)', EventDateTime);
        data.append('@Html.NameFor(m => m.EditModel.EventID)', EventID);
        data.append('@Html.NameFor(m => m.EditModel.EventText)', EventText);

        SendAjax({
            url: '@Url.Action("EditOldEventData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    window.location.reload();
                }
                else { $.alert(result.errorMsg); }
            },
        });

    }


    function SaveData() {

        var data = new FormData()


        var BorrowMainID = $('#@Html.IdFor(m => m.EditModel.BorrowMainID)').val();
        var ApplyUnitType = $('#@Html.IdFor(m => m.EditModel.ApplyUnitType)').val();
        var ApplyUnitName = $('#@Html.IdFor(m => m.EditModel.ApplyUnitName)').val();
        var ApplyMan = $('#@Html.IdFor(m => m.EditModel.ApplyMan)').val();
        var ApplyTitle = $('#@Html.IdFor(m => m.EditModel.ApplyTitle)').val();
        var ApplyEmail = $('#@Html.IdFor(m => m.EditModel.ApplyEmail)').val();
        var ApplyTel = $('#@Html.IdFor(m => m.EditModel.ApplyTel)').val();
        var ApplyPurpose = $('#@Html.IdFor(m => m.EditModel.ApplyPurpose)').val();
        var ActName = $('#@Html.IdFor(m => m.EditModel.ActName)').val();
        var UseLocation = $('#@Html.IdFor(m => m.EditModel.UseLocation)').val();
        var UseDesc = $('#@Html.IdFor(m => m.EditModel.UseDesc)').val();
        var UseSDate = $('#@Html.IdFor(m => m.EditModel.UseSDate)').val();
        var UseEDate = $('#@Html.IdFor(m => m.EditModel.UseEDate)').val();
        var TakeSDate = $('#@Html.IdFor(m => m.EditModel.TakeSDate)').val();
        var TakeEDate = $('#@Html.IdFor(m => m.EditModel.TakeEDate)').val();
        var ActVerify = $('#@Html.IdFor(m => m.EditModel.ActVerify)').val();
        var TeacherMark = $('#@Html.IdFor(m => m.EditModel.TeacherMark)').val();
        var DeviceMark = $('#@Html.IdFor(m => m.EditModel.DeviceMark)').val();
        var TakeMark = $('#@Html.IdFor(m => m.EditModel.TakeMark)').val();
        var ReturnMark = $('#@Html.IdFor(m => m.EditModel.ReturnMark)').val();
        var BorrowMemo = $('#@Html.IdFor(m => m.EditModel.BorrowMemo)').val();
        var Memo = $('#@Html.IdFor(m => m.EditModel.Memo)').val();


        if (ApplyUnitType == "") { $.alert("申請單位類型不可為空"); return; }
        if (ApplyUnitName == "") { $.alert("申請單位不可為空"); return; }
        if (ApplyMan == "") { $.alert("角色名稱不可為空"); return; }
        if (ApplyPurpose == "") { $.alert("申請目的不可為空"); return; }
        if (ActName == "") { $.alert("活動名稱不可為空"); return; }
        if (UseLocation == "") { $.alert("使用地點不可為空"); return; }
        if (UseDesc == "") { $.alert("用途及特殊需求說明不可為空"); return; }
        if (UseSDate == "") { $.alert("實際使用起日不可為空"); return; }
        if (UseEDate == "") { $.alert("實際使用訖日不可為空"); return; }
        if (TakeSDate == "") { $.alert("約定領取時間不可為空"); return; }
        if (TakeEDate == "") { $.alert("約定歸還時間不可為空"); return; }
        if (ActVerify == "") { $.alert("審核狀態不可為空"); return; }

        data.append('@Html.NameFor(m => m.EditModel.BorrowMainID)', BorrowMainID);
        data.append('@Html.NameFor(m => m.EditModel.ApplyUnitType)', ApplyUnitType);
        data.append('@Html.NameFor(m => m.EditModel.ApplyUnitName)', ApplyUnitName);
        data.append('@Html.NameFor(m => m.EditModel.ApplyMan)', ApplyMan);
        data.append('@Html.NameFor(m => m.EditModel.ApplyTitle)', ApplyTitle);
        data.append('@Html.NameFor(m => m.EditModel.ApplyEmail)', ApplyEmail);
        data.append('@Html.NameFor(m => m.EditModel.ApplyTel)', ApplyTel);
        data.append('@Html.NameFor(m => m.EditModel.ApplyPurpose)', ApplyPurpose);
        data.append('@Html.NameFor(m => m.EditModel.ActName)', ActName);
        data.append('@Html.NameFor(m => m.EditModel.UseLocation)', UseLocation);
        data.append('@Html.NameFor(m => m.EditModel.UseDesc)', UseDesc);
        data.append('@Html.NameFor(m => m.EditModel.UseSDate)', UseSDate);
        data.append('@Html.NameFor(m => m.EditModel.UseEDate)', UseEDate);
        data.append('@Html.NameFor(m => m.EditModel.TakeSDate)', TakeSDate);
        data.append('@Html.NameFor(m => m.EditModel.TakeEDate)', TakeEDate);
        data.append('@Html.NameFor(m => m.EditModel.ActVerify)', ActVerify);
        data.append('@Html.NameFor(m => m.EditModel.TeacherMark)', TeacherMark);
        data.append('@Html.NameFor(m => m.EditModel.DeviceMark)', DeviceMark);
        data.append('@Html.NameFor(m => m.EditModel.TakeMark)', TakeMark);
        data.append('@Html.NameFor(m => m.EditModel.ReturnMark)', ReturnMark);
        data.append('@Html.NameFor(m => m.EditModel.BorrowMemo)', BorrowMemo);
        data.append('@Html.NameFor(m => m.EditModel.Memo)', Memo);

        SendAjax({
            url: '@Url.Action("EditOldData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "修改成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }

</script>