@model WebPccuClub.Models.HyperRoleMangViewModel

@{
    Layout = "_BackendLayout";
    List<FunSelectedItem> LstAllFunInfo = ViewBag.ddlFunInfo;
    List<FunSelectedItem> FList = LstAllFunInfo.Where(x => x.Group == "F").ToList();
    List<FunSelectedItem> BList = LstAllFunInfo.Where(x => x.Group == "B").ToList();
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive-sm">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                            <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                        </h6>
                        @if (null != Model.CreateModel)
                        {
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.RoleId)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.CreateModel.RoleId, new {@class="form-control", placeholder="請輸入角色ID"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.RoleName)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.CreateModel.RoleName, new {@class="form-control", placeholder="請輸入角色名稱"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.Comment)</th>
                                        <td>@Html.TextAreaFor(m => m.CreateModel.Comment, new {@class="form-control", rows="6"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.SystemCode)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.CreateModel.SystemCode ,(List<SelectListItem>)ViewBag.ddlSystemCode,"請選擇所屬子系統", new {@class = "form-control"})
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">權限<span class="required">*</span></th>
                                        <td>
                                            <div class="row p-2">

                                                <div style="width:100%;">
                                                    <div style="width:100%; font-size: larger;">前台功能</div>
                                                    <div style="width:100%; display:flex; flex-flow: wrap;">
                                                        @foreach (FunSelectedItem item in FList)
                                                        {
                                                            <div class="col-md-3 custom-control custom-checkbox">
                                                                <input class="custom-control-input custom-control-input-primary custom-control-input-outline"
                                                                       type="checkbox" id="@item.Value" value="@item.Value">
                                                                <label class="custom-control-label" for="@item.Value">@item.Text</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                                <div style="width:100%; margin-top: 1em;">
                                                    <div style="width:100%; font-size: larger;">後台功能</div>
                                                    <div style="width:100%; display:flex; flex-flow: wrap;">
                                                        @foreach (FunSelectedItem item in BList)
                                                        {
                                                            <div class="col-md-3 custom-control custom-checkbox">
                                                                <input class="custom-control-input custom-control-input-primary custom-control-input-outline"
                                                                       type="checkbox" id="@item.Value" value="@item.Value">
                                                                <label class="custom-control-label" for="@item.Value">@item.Text</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            @Html.HiddenFor(m => m.CreateModel.RoleId)
                        }

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer d-flex justify-content-end">
                        <button type="button" name="submitBtn" class="btn btn-success" onclick="SaveEditData()">儲存</button>
                    </div>
                </div>
                <!-- /.card -->
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>

    function SaveEditData() {

        var data = new FormData()

        var RoleId = $('#@Html.IdFor(m => m.CreateModel.RoleId)').val();
        var RoleName = $('#@Html.IdFor(m => m.CreateModel.RoleName)').val();
        var Comment = $('#@Html.IdFor(m => m.CreateModel.Comment)').val();
        var SystemCode = $('#@Html.IdFor(m => m.CreateModel.SystemCode)').val();

        var selectedValues = [];
        $(".custom-control-input-outline").each(function () {
            if ($(this).is(":checked")) {
                selectedValues.push($(this).val());
            }
        });

        data.append('@Html.NameFor(m => m.CreateModel.RoleId)', RoleId);
        data.append('@Html.NameFor(m => m.CreateModel.RoleName)', RoleName);
        data.append('@Html.NameFor(m => m.CreateModel.Comment)', Comment);
        data.append('@Html.NameFor(m => m.CreateModel.SystemCode)', SystemCode);
        data.append('@Html.NameFor(m => m.CreateModel.strFunInfo)', selectedValues);

      
        if (RoleId == "") {
            $.alert("角色ID不可為空");
            return;
        }

        if (RoleName == "") {
            $.alert("角色名稱不可為空");
            return;
        }

        if (SystemCode == "") {
            $.alert("請選擇所屬子系統");
            return;
        }

        SendAjax({
            url: '@Url.Action("SaveNewData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "新增成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }

</script>