@model WebPccuClub.Models.ClubHandoverViewModel

@{
    Layout = "_BackendLayout";
}


<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div method="post" id="form" enctype="multipart/form-data" action="">
                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                                <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                            </h6>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">建立時間</th>
                                        <td>@Model.Handover0206Model.Created.Value.ToString("yyyy/MM/dd HH:mm:ss"))</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">更新時間</th>
                                        <td>@Model.Handover0206Model.LastModified.Value.ToString("yyyy/MM/dd HH:mm:ss"))</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">社團代號<span class="required">*</span></th>
                                        <td>
                                            @Html.TextBoxFor(m => m.Handover0206Model.ClubID, new { @class="form-control", placeholder="請填寫社團代碼"})
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">學年度<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.Handover0206Model.SchoolYear ,(List<SelectListItem>)ViewBag.ddlSchoolYear,"請選擇", new {@class = "form-control"})
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">社團名稱<span class="required">*</span></th>
                                        <td>
                                            @Html.TextBoxFor(m => m.Handover0206Model.ClubName, new { @class="form-control", placeholder="請填寫社團名稱"})
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">
                                            收入支出結算表<span class="required">*</span><span class="mx-1"
                                                                                        data-toggle="tooltip"
                                                                                        data-bs-placement="top"
                                                                                        title=""
                                                                                        data-original-title="無限制檔案類型">
                                                <i class="fa-regular fa-circle-question"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </th>
                                        <td>
                                            <label class="btn btn-outline-primary mb-0">

                                                @Html.TextBoxFor(m => m.Handover0206Model.Sheet, new { @style="display:none;", @class="form-control", type="file", placeholder="收入支出結算表", accept=".docx,.doc,.odt,.pdf" })

                                                </i> 上傳檔案
                                            </label>

                                            <span class="text-sm mx-2 text-danger" id="filename">
                                                <i class="fa-solid fa-circle-exclamation"></i> 若重新上傳將會覆蓋原始檔案...
                                            </span>
                                            <br /><a class="text-sm text-muted"
                                                     href="https://chiang.pintech.com.tw/pccuact7/assets/attachment/sample.pdf"
                                                     target="_blank"><i class="fa-regular fa-file mr-2"></i>收入支出結算表.xls</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">
                                            存簿內頁檔案<span class="required">*</span><span class="mx-1"
                                                                                       data-toggle="tooltip"
                                                                                       data-bs-placement="top"
                                                                                       title=""
                                                                                       data-original-title="無限制檔案類型">
                                                <i class="fa-regular fa-circle-question"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </th>
                                        <td>
                                            <label class="btn btn-outline-primary mb-0">
                                                @Html.TextBoxFor(m => m.Handover0206Model.InnerFile, new { @style="display:none;", @class="form-control", type="file", placeholder="收入支出結算表", accept=".docx,.doc,.odt,.pdf" })
                                                </i> 上傳檔案
                                            </label>
                                            <span class="text-sm mx-2 text-muted" id="filename">尚未選擇檔案...</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        @Html.HiddenFor(m => m.Handover0206Model.HoID)
                        @Html.HiddenFor(m => m.Handover0206Model.IsEdit)
                        @Html.HiddenFor(m => m.Handover0206Model.HoDetailID)


                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-success" onclick="SaveData()">儲存</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>

<script>

    function SaveData() {

        var data = new FormData()

        var HoID = $('#@Html.IdFor(m => m.Handover0206Model.HoID)').val();
        var IsEdit = $('#@Html.IdFor(m => m.Handover0206Model.IsEdit)').val();
        var HoDetailID = $('#@Html.IdFor(m => m.Handover0206Model.HoDetailID)').val();

        var SchoolYear = $('#@Html.IdFor(m => m.Handover0206Model.SchoolYear)').val();
        var ClubID = $('#@Html.IdFor(m => m.Handover0206Model.ClubID)').val();
        var ClubName = $('#@Html.IdFor(m => m.Handover0206Model.ClubName)').val();


        var Sheet = $('#@Html.IdFor(m => m.Handover0206Model.Sheet)')[0].files[0];

        if (typeof Sheet !== 'undefined') {
            var fileExtension = Sheet.name.split('.').pop().toLowerCase();

            if (fileExtension !== 'doc' && fileExtension !== 'docx' && fileExtension !== 'odt' && fileExtension !== 'pdf') {
                $.alert("檔案類型不符合");
                return;
            }

            data.append('@Html.NameFor(m => m.Handover0206Model.Sheet)', Sheet);
        }
        else {
            $.alert("收入支出結算表不可為空白"); return;
        }

        var InnerFile = $('#@Html.IdFor(m => m.Handover0206Model.InnerFile)')[0].files[0];

        if (typeof InnerFile !== 'undefined') {
            var fileExtension = InnerFile.name.split('.').pop().toLowerCase();

            if (fileExtension !== 'pdf' && fileExtension !== 'jpg' &&
                fileExtension !== 'jpeg' && fileExtension !== 'png' &&
                fileExtension !== 'zip' && fileExtension !== 'rar' &&
                fileExtension !== '7z') {
                $.alert("檔案類型不符合");
                return;
            }

            data.append('@Html.NameFor(m => m.Handover0206Model.InnerFile)', InnerFile);
        }
        else {
            $.alert("存簿內頁檔案不可為空白"); return;
        }


        if (ClubID == "") { $.alert("社團代碼不可為空白"); return; }
        if (ClubName == "") { $.alert("社團名稱不可為空白"); return; }

        data.append('@Html.NameFor(m => m.Handover0206Model.HoID)', HoID);
        data.append('@Html.NameFor(m => m.Handover0206Model.IsEdit)', IsEdit);
        data.append('@Html.NameFor(m => m.Handover0206Model.HoDetailID)', HoDetailID);

        data.append('@Html.NameFor(m => m.Handover0206Model.SchoolYear)', SchoolYear);
        data.append('@Html.NameFor(m => m.Handover0206Model.ClubID)', ClubID);
        data.append('@Html.NameFor(m => m.Handover0206Model.ClubName)', ClubName);



        SendAjax({
            url: '@Url.Action("Save0206")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "儲存成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
            error: function (response) {
                $.alert(result.errorMsg);
            }
        });

    }
</script>