@model WebPccuClub.Models.BorrowMainResourceMangViewModel

@{
    
    string RunType = Model.InventoryRecordModel.RunType;

}

    <!-- /.card-header -->
<div class="table-responsive">
    <table class="table table-sm table-hover text-nowrap">
        <thead>
            <tr class="text-center">
                <th width="10%">
                    資產號碼<br><span class="text-muted text-sm font-weight-normal">內部管理用</span>
                </th>
                <th width="10%">子資源名稱</th>
                <th width="5%">上下架狀態</th>
                <th width="10%">借用狀態</th>
                <th width="10%">盤點狀態</th>
            </tr>
        </thead>


        <tbody class="text-center text-sm">
            @if (Model.InventoryDetailModel.Count > 0)
                {
                switch (RunType)
                {
                
                    case null:
                        foreach (var item in Model.InventoryDetailModel)
                        {
                            <tr>
                                <td><span data-number>@item.SecondResourceNo</span></td>
                                <td>@item.SecondResourceName</td>
                                <td>@item.ShelvesStatusText</td>
                                <td>@item.BorrowStatusText</td>
                                <td><span class="text-muted" data-set="checking">尚未開始盤點</span></td>
                            </tr>
                        }
                        break;
                    case "0":
                        foreach (var item in Model.InventoryDetailModel)
                        {
                            <tr>
                                <td><span data-number>@item.SecondResourceNo</span></td>
                                <td>@item.SecondResourceName</td>
                                <td>@item.ShelvesStatusText</td>
                                <td>@item.BorrowStatusText</td>
                                <td><span class="text-muted" data-set="checking">尚未開始盤點</span></td>
                            </tr>
                        }
                        break;
                    case "1":
                        foreach (var item in Model.InventoryDetailModel)
                        {
                            <tr>
                                <td><span data-number>@item.SecondResourceNo</span></td>
                                <td>@item.SecondResourceName</td>
                                <td>@item.ShelvesStatusText<i class="fa-solid fa-lock" data-lock=""></i></td>
                                <td>@item.BorrowStatusText<i class="fa-solid fa-lock" data-lock=""></i></td>
                                <td><span class="text-muted" data-set="checking">@item.ResourceInventoryStatusText</span></td>
                            </tr>
                        }
                        break;
                    case "2":
                        foreach (var item in Model.InventoryDetailModel)
                        {
                            <tr>
                                <td><span data-number>@item.SecondResourceNo</span></td>
                                <td>@item.SecondResourceName</td>
                                <td>@item.ShelvesStatusText</td>
                                <td>@item.BorrowStatusText</td>
                                <td><span class="text-muted" data-set="checking">尚未開始盤點</span></td>
                            </tr>
                        }
                        break;
                }
                
            }
           
        </tbody>
        @Html.HiddenFor(m => m.InventoryRecordModel.InventoryRecordID)

    </table>
</div>
    <!-- /.card-body -->

<script>
    


</script>