@model WebPccuClub.Models.ActListMangViewModel

@{

}

@if (Model.CreateModel.PlaceSource == "01")
{
    @if (ViewBag.ddlBuild != null)
    {
        <div>
            <div class="row pt-2">
                <div class="col-lg-6">
                    @Html.DropDownListFor(m => m.CreateModel.Buildid,(List<SelectListItem>)ViewBag.ddlBuild,"請選擇樓館", new {@class = "form-control mb-1 classroom1_select class_info_req"} )

                    @if (ViewBag.ddlPlace != null)
                    {
                        @Html.DropDownListFor(m => m.CreateModel.PlaceId,(List<SelectListItem>)ViewBag.ddlPlace,"請選擇場地", new {@class = "form-control classroom2_select class_info_req"} )
                    }
                </div>
            </div>

            @if (Model.PlaceDataModel != null)
            {
                if (Model.CreateModel.PlaceSource == "01")
                {
                    <div id="thisroom_box">
                        <p class="mb-0 py-2 hint">
                            <i class="fas fa-caret-down"></i>
                            場地開放時間狀態
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">平日開放時間</th>
                                    <th scope="col">假日開放時間</th>
                                    <th scope="col">場地狀態</th>
                                    <th scope="col">可使用人數</th>
                                    <th scope="col">已配置資訊器材</th>
                                    <th scope="col">場地備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PlaceDataModel)
                                {
                                    <tr>
                                        <td>@string.Format("{0}:00", item.Normal_STime) ～ @string.Format("{0}:00", item.Normal_ETime)</td>
                                        <td>@string.Format("{0}:00", item.Holiday_STime) ～ @string.Format("{0}:00", item.Holiday_ETime)</td>
                                        <td>@item.PlaceStatusText</td>
                                        @if (!string.IsNullOrEmpty(item.Capacity) && item.Capacity != "0")
                                        {
                                            <td>@string.Format("{0}人", item.Capacity)</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        <td>@item.PlaceEquip</td>
                                        <td>@item.Memo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    }
}
else
{
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex align-items-center pt-2">
                    <label class="flex-shrink-0 me-2"
                           for="">場地名稱：</label>
                    <div class="jq_box2 position-relative w-100">
                        <td>@Html.TextBoxFor(m => m.CreateModel.PlaceName, new {@class = "form-control class_info_req", placeholder="請輸入場地名稱"})</td>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>

    $(function () {
        $('#@Html.IdFor(m => m.CreateModel.PlaceName)').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSuggestPlace")',
                    type: "POST",
                    dataType: "json",
                    data: { 'PlaceSource': $("[id ^= 'PlaceSource_']:checked").val(), Prefix: request.term },
                    success: function (data) {
                        response(data);
                    }
                })
            }
        });
    });

    $('#@Html.IdFor(m => m.CreateModel.Buildid)').on('change', function () {
        InitPlaceSelect($("[id ^= 'PlaceSource_']:checked").val(), $(this).val());
    });


    $('#@Html.IdFor(m => m.CreateModel.PlaceId)').change(function () {
        InitPlaceData($("[id ^= 'PlaceSource_']:checked").val(), $('#@Html.IdFor(m => m.CreateModel.Buildid)').val(), $(this).val());
    });

    function InitPlaceSelect(PlaceSource, Buildid) {

        SendAjax({
            url: '@Url.Action("InitPlaceSelect")',
            data: { 'PlaceSource': PlaceSource, 'Buildid': Buildid },
            success: function (result) {
                $('#class_input_box').html(result);
            }
        });



    }

    function InitPlaceData(PlaceSource, Buildid, PlaceId) {

        SendAjax({
            url: '@Url.Action("InitPlaceData")',
            data: { 'PlaceSource': PlaceSource, 'Buildid': Buildid, 'PlaceId': PlaceId },
            success: function (result) {
                $('#class_input_box').html(result);
            }
        });

        GetBrrowStatus();
    }

</script>

<style>

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 0.375rem 0.75rem;
        margin: 2px 0 0;
        list-style: none;
        font-size: inherit;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

        .ui-autocomplete > li > div {
            display: block;
            padding: 0.375rem 0.75rem;
            clear: both;
            font-weight: normal;
            line-height: 1.5;
            color: #333333;
            white-space: nowrap;
            font-family: inherit;
        }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
        background-color: #1967D2;
        color: #ffffff !important;
        text-decoration: none;
        cursor: pointer;
        font-family: inherit;
        font-weight: normal;
        display: block;
        min-height: 1.2em;
        padding: 0px 2px 1px;
        white-space: nowrap;
    }

    .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

</style>