@model WebPccuClub.Models.BorrowSecondResourceMangViewModel

@{
    Layout = "_BackendLayout";

    var perpage = Model.ConditionModel.PageSize;
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <form method="post" id="SearchForm" enctype="multipart/form-data" action="">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-sm btn-outline-dark" onclick="ExportSearchResult()">匯出霸凌事件清單</button>
                            <a href=@Url.Action("Upload") class="ml-1 btn btn-sm btn-outline-danger">匯入霸凌事件清單</a>
                            <div class="card-tools">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @Html.AntiForgeryToken()
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.DropDownListFor(m => m.ConditionModel.MainClass ,(List<SelectListItem>)ViewBag.ddlMainClass,"全部業務分類", new {@class = "form-control"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.DropDownListFor(m => m.ConditionModel.ShelvesStatus ,(List<SelectListItem>)ViewBag.ddlShelvesStatus,"全部上下架狀態", new {@class = "form-control"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.DropDownListFor(m => m.ConditionModel.BorrowStatus ,(List<SelectListItem>)ViewBag.ddlBorrowStatus,"全部借用狀態", new {@class = "form-control"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.TextBoxFor(m => m.ConditionModel.MainResourceName, new {@class="form-control", placeholder="請輸入主資源名稱"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.TextBoxFor(m => m.ConditionModel.SecondResourceNo, new {@class="form-control", placeholder="請輸入資產號碼"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.TextBoxFor(m => m.ConditionModel.SecondResourceName, new {@class="form-control", placeholder="請輸入子資源名稱"})
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    @Html.TextBoxFor(m => m.ConditionModel.Memo, new {@class="form-control", placeholder="請輸入備註"})
                                </div>

                                <div class="col-md-12 mt-2 row">
                                    <div class="col-md-6 col-sm-12 float-left">
                                        <span id="PageNow" class="text-sm text-muted" style="display:none;">
                                            目前為第 {{:pnow}} 頁 / 共 {{:ptotle}} 頁
                                        </span>
                                        <br />
                                        <span id="PageEver" class="text-muted text-sm" style="display:none;">
                                            每頁顯示 {{:pever}} 筆 / 共 {{:ptotleever}} 筆
                                        </span>
                                    </div>
                                    <div class="col-md-6 col-sm-12 float-right d-flex flex-wrap align-items-end justify-content-end p-0">
                                        @Html.Partial("_JumpPagePartial", @perpage)
                                        <input type="reset" class="btn btn-sm btn-outline-info mx-1 mt-2" value="清除條件">
                                        <input type="button" class="btn btn-sm btn-outline-danger mx-1 mt-2" value="搜尋" onclick="GoSearch(0)">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.ConditionModel.Page)
                    @Html.HiddenFor(m => m.ConditionModel.PageSize)
                    @Html.HiddenFor(m => m.ConditionModel.TotalCount)
                </form>
                <div id="SearchResultList" class="card"></div>

            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</section>

<script>

    function GoSearch(source) {

        if (source == 0)
            $('#@(Html.IdFor(m => m.ConditionModel.Page))').val(0);

        SendAjax({
            url: '@Url.Action("GetSearchResult")',
            data: $("#SearchForm").serialize(),
            success: function (result) {
                $('#SearchResultList').html(result);
            }
        });
    }

    function ExportSearchResult() {
        window.open('@Url.Action("ExportSearchResult")' + '?' + $("#SearchForm").serialize());
    }

    $('#JumpPergroup').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.PageSize)").val(e.target.value);
        GoSearch();
    });
    
    $('#Jumppage').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.Page)").val(e.target.value);
        GoSearch();
    });

    $('input:reset').click(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.PageSize)").val("10");
    });


    $('#@Html.IdFor(m => m.ConditionModel.MainClass)').tooltip({ title: "業務分類" });
    $('#@Html.IdFor(m => m.ConditionModel.ShelvesStatus)').tooltip({ title: "上下架狀態" });
    $('#@Html.IdFor(m => m.ConditionModel.BorrowStatus)').tooltip({ title: "借用狀態" });
    $('#@Html.IdFor(m => m.ConditionModel.MainResourceName)').tooltip({ title: "主資源名稱" });
    $('#@Html.IdFor(m => m.ConditionModel.SecondResourceNo)').tooltip({ title: "資產號碼" });
    $('#@Html.IdFor(m => m.ConditionModel.SecondResourceName)').tooltip({ title: "子資源名稱" });
    $('#@Html.IdFor(m => m.ConditionModel.Memo)').tooltip({ title: "備註" });

</script>