@model WebPccuClub.Models.MenuFrontViewModel
@using PccuClub.WebAuth;
@using Microsoft.AspNetCore.Http.Extensions

@{
    Layout = "_FrontSimpleLayout";

    string SSOName = "";
    string SSORole = "";

    UserInfo LoginUser = (UserInfo)ViewBag.LoginUser;
    var url = Context.Request.GetDisplayUrl();
    bool IsUATEnv = url.Contains("sais-bk", StringComparison.OrdinalIgnoreCase);

    @if (null != LoginUser)
    {
        SSOName = LoginUser.SSOName;

        switch (LoginUser.SSORole)
        {
            case "student":
                SSORole = "同學";
                break;

            case "staff":
                SSORole = "同仁";
                break;

            case "teacher":
                SSORole = "老師";
                break;
        }
    }
}


<style>

    .icon-prefix {
        flex: 0 0 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

</style>


<div role="main" class="main">

    <div class="container-fluid p-relative py-md-5 py-4">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-8">
                <div class="card border-radius bg-color-light">

                    <div class="card-body">
                        @if (null != LoginUser)
                        {
                            <h4 class="card-title mb-4 pb-2 text-6">
                                @SSOName @SSORole 歡迎！<small class="text-yellow font-weight-normal ms-2">Welcome</small>
                            </h4>
                            <div class="pagelist">
                                @foreach (MenuFrontResultModel item in Model.ResultModel)
                                {
                                    string targetUrl = "#";

                                    switch (item.MenuBoardCode)
                                    {
                                        case "01":
                                            targetUrl = Url.Action("Index", "ClubList");
                                            break;
                                        case "02":
                                            targetUrl = Url.Action("Index", "FBorrowIndex");
                                            break;
                                        case "03":
                                            targetUrl = "";
                                            break;
                                        case "04":
                                            if (IsUATEnv)
                                            {
                                                targetUrl = "https://demo.triotechno.com:20252/";
                                            }
                                            else
                                            {
                                                targetUrl = "https://cgcs.pccu.edu.tw/";
                                            }

                                            break;
                                        default:
                                            targetUrl = "#";
                                            break;
                                    }

                                    @if (item.IsEnable)
                                    {
                                        <a href="@targetUrl" class="listItem">

                                            <div class="icon-prefix">
                                                <img src="@item.IconPath" class="menu-icon-img">
                                            </div>

                                            <div class="textbox">
                                                <div class="title font-weight-bold mb-0">@item.Header</div>
                                                @if (string.IsNullOrEmpty(item.ShortDesc))
                                                {
                                                    <p class="fs-90percent mb-0" style="height:1.2em;">@item.ShortDesc</p>
                                                }
                                                else
                                                {
                                                    <p class="fs-90percent mb-0">@item.ShortDesc</p>
                                                }
                                            
                                            </div>

                                            <div class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <div class="listItem disabled">
                                            <div class="icon-prefix">
                                                <img src="@item.IconPath" class="menu-icon-img">
                                            </div>

                                            <div class="textbox">
                                                <div class="title font-weight-bold mb-0">@item.Header</div>
                                                @if (string.IsNullOrEmpty(item.ShortDesc))
                                                {
                                                    <p class="fs-90percent mb-0" style="height:1.2em;">@item.ShortDesc</p>
                                                }
                                                else
                                                {
                                                    <p class="fs-90percent mb-0">@item.ShortDesc</p>
                                                }
                                            </div>
                                            <div class="icondisabled"><i class="fas fa-chevron-right"></i></div>
                                        </div>
                                    }

                                }

                                @if (LoginUser.SSORole != "student")
                                {
                                    <a href="@Url.Action("Index", "MenuBackend")" class="listItem">
                                        <div class="icon-prefix">
                                            
                                        </div>
                                        <div class="textbox ">
                                            <div class="title font-weight-bold mb-0">管理者後台</div>
                                            <p class="fs-90percent mb-0"></p>
                                        </div>
                                        <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                    </a>
                                }

                            </div>
                        }
                        else
                        {
                            <h4 class="card-title mb-4 pb-2 text-6">
                                請透過專區登入後使用！<small class="text-yellow font-weight-normal ms-2">Thanks</small>
                            </h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
