@model WebPccuClub.Models.LoginViewModel;

@{
    Layout = "_LoginLayout";
    string Controller = "Login";
    string ActionDisptach = "AuthLogin";
    string sUpdateTargetId = "#MainContent";

}

<div role="main" class="main">
    <div class="pageHeader-deco">
        <div class="image"></div>
    </div>

    <div class="container topPadding">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <h1 class="text-md-6 text-5 line-height-6 font-weight-6 text-center text-primary mb-0">
                    中國文化大學
                </h1>
                <h1 class="text-md-6 text-5 line-height-6 font-weight-6 text-center text-primary mb-0 opacity-6">
                    場地租借系統
                </h1>
                <div class="card box-shadow-5 border-0 mt-md-5 mt-3 mb-5">
                    <div class="card-body">


                        <form asp-action="@ActionDisptach" asp-controller="@Controller" data-ajax="false"
                              data-ajax-method="POST" data-ajax-update="@sUpdateTargetId" data-ajax-mode="replace"
                              data-ajax-begin="SysFormLoadingStart" data-ajax-complete="SysFormLoadingEnd">

                            <div class="row no-gutters align-items-center">
                                <div class="">
                                    <img alt="" src="~/images/skyLogo_ori.png" style="max-width:100%;height: auto;">
                                </div>
                            </div>

                            <hr>

                            <div class="form-item">
                                <label class="form-label mb-1 text-2">帳號</label>
                                <input type="text" asp-for="LoginID" class="form-control" data-val="false" placeholder="請輸入帳號" />
                            </div>
                            <div class="form-item">
                                <label class="form-label mb-1 text-2">密碼</label>
                                <input type="password" asp-for="PassWord" size="18" class="form-control" data-val="false" placeholder="請輸入密碼" />
                            </div>

                            <div class="form-item">
                                <label for="@Html.NameFor(m=>m.PassWord)" class="control-label">驗證碼</label>
                                <div class="form-box">
                                    @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control", @placeholder = "請輸入驗證碼" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="captcha-box">
                                    <div class="captcha">
                                        <img class="imgChk" id="imgChkCode" src="" width="122" height="36">
                                    </div>
                                    <div>
                                        <button id="reCaptcha" type="button" class="btn-regenerate-captcha">重新產生驗證碼</button>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" name="submitBtn" value="Login" class="submit-btn btn btn-primary">登入 Login</button>
                            </div>
                            <div class="text-center">
                                <p class="text-primary my-3 opacity-8 text-2">※ 如忘記密碼請聯繫系辦人員</p>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_MsgPartial")

<script type="text/javascript" lang="javascript">

    $(function () {
        $("#imgChkCode").attr('src', '@Url.Action("GetCaptcha","Login")')

        $('#reCaptcha').click(function () {
            var ImgUrl = '@Url.Action("GetCaptcha","Login")' + "?t=" + new Date().getTime();
            $('#imgChkCode').attr('src', ImgUrl);
        });
    });

</script>