@model WebPccuClub.Models.EventPersonalViewModel

@{
    Layout = "_BackendLayout";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive-sm">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                        </h6>
                        @if (null != Model.EditModel)
                        {
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Created)</th>
                                        <td>@Html.DisplayFor(m => m.EditModel.Created)</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.LastModified)</th>
                                        <td>@Html.DisplayFor(m => m.EditModel.LastModified)</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.UserName)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.UserName)</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.LoginId)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.LoginId)</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.EMail)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.EMail, new {@class="form-control", placeholder="請輸入信箱"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">
                                            @Html.LabelFor(m => m.EditModel.Pwd)
                                            <br />
                                            <span class="text-xs text-danger font-weight-normal">不填寫表示不修改</span>
                                        </th>
                                        <td>
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.EditModel.Pwd, new {@class="form-control", placeholder="請輸入密碼"})
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="pwvisible1"><i class="fa-solid fa-eye-slash"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">
                                            @Html.LabelFor(m => m.EditModel.ConformPwd)
                                            <br />
                                            <span class="text-xs text-danger font-weight-normal">不填寫表示不修改</span>
                                        </th>
                                        <td>
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.EditModel.ConformPwd, new {@class="form-control", placeholder="請再輸入一次密碼"})
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="pwvisible2"><i class="fa-solid fa-eye-slash"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">密碼規則</th>
                                        <td class="text-muted text-sm">
                                            <ul class="m-0" id="passwdRules">
                                                <li id="isValidLength">長度需介於6 ~ 15位</li>
                                                <li id="isContainsUpperOrLowercase">至少包含一大寫或小寫英文字母</li>
                                                <li id="isContainsNumber">至少包含一數字</li>
                                                <li id="isPassedOverall">符合上述所有規則，且不可夾帶任何特殊符號</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer d-flex justify-content-end">
                        <button type="button" name="submitBtn" class="btn btn-success" onclick="SaveEditData()">儲存</button>
                    </div>
                </div>
                <!-- /.card -->
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>

    function SaveEditData() {

        var data = new FormData()
        var EMail = $('#@Html.IdFor(m => m.EditModel.EMail)').val();
        var pw = $('#@Html.IdFor(m => m.EditModel.Pwd)').val();
        var cpw = $('#@Html.IdFor(m => m.EditModel.ConformPwd)').val();

        if (EMail == "") {
            $.alert("信箱不可為空");
            return;
        }

        if (pw != "") {
            if (pw != cpw) {
                $.alert("密碼與確認密碼需相符");
            }
        }


        data.append('@Html.NameFor(m => m.EditModel.EMail)', EMail);
        data.append('@Html.NameFor(m => m.EditModel.Pwd)', pw);
        data.append('@Html.NameFor(m => m.EditModel.ConformPwd)', cpw);

        SendAjax({
            url: '@Url.Action("EditOldData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "修改成功",
                        buttons: {
                            確定: function () {
                                location.reload();
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });

    }
</script>