@model WebPccuClub.Models.ClubInfoViewModel

@{
    Layout = "_FrontLayout";
	ViewBag.Title = "社團分數查詢";
}


<div class="col-xxl-8 col-xl-10">
	<div class="contentWrapper">
		<h4 class="pageTitle">社團分數查詢</h4>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href=@Url.Action("Index")>社團簡介</a></li>
				<li class="breadcrumb-item active">社團分數查詢</li>
			</ol>
		</nav>
		<hr>
		<div class="mb-4">
			<a href=@Url.Action("Index")><i class="fas fa-chevron-left"></i> 返回</a>
		</div>
		<div class="row">
			<form method="post" id="SearchForm" enctype="multipart/form-data" action="" style="display:contents;">
				
			<div class="col-md-3">
				<div class="d-flex align-items-center mb-3">
					<i class="fas fa-filter text-primary"></i>
					@Html.DropDownListFor(m => m.ClubScoreConditionModel.SchoolYear,(List<SelectListItem>)ViewBag.ddlSchoolYear,"請選擇", new {@class = "form-control ms-3"})
				</div>
			</div>
				@Html.HiddenFor(m => m.ClubScoreConditionModel.Page)
				@Html.HiddenFor(m => m.ClubScoreConditionModel.PageSize)
				@Html.HiddenFor(m => m.ClubScoreConditionModel.TotalCount)
			</form>
			<div class="col-md-9">
				<div class="text-end mb-3">
				</div>
			</div>
		</div>

		<div class="scroll-hint hint"><i class="fas fa-info-circle"></i> 左右滑動查看完整表格</div>

		<div id="SearchResultList" class="row"></div>

	</div>
</div>

<script>

	$(document).ready(function () {
		GoSearch();
	});

	function GoSearch() {
		SendAjax({
			url: '@Url.Action("GetClubScoreSearchResult")',
			data: $("#SearchForm").serialize(),
			success: function (result) {
				$('#SearchResultList').html(result);
			}
		});
	}

	$('#@Html.IdFor(m => m.ClubScoreConditionModel.SchoolYear)').change(function (e) {
		GoSearch();
	});


</script>