@model WebPccuClub.Models.BorrowSecondClassMangViewModel

@{
    Layout = "_BackendLayout";

    List<SelectListItem> LstSubSystemBelong = ViewBag.ddlSubSystemBelong;
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <form method="post" id="form" enctype="multipart/form-data" action="">

                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                                <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                            </h6>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Created)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.Created, new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.LastModified)<span class="required">*</span></th>
                                        <td>@Html.DisplayFor(m => m.EditModel.LastModified, new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.MainClass)<span class="required">*</span></th>
                                        <td>@Html.DropDownListFor(m => m.EditModel.MainClass ,(List<SelectListItem>)ViewBag.ddlMainClass,"請選擇主分類", new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Text)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.Text, new {@class = "form-control"})</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Memo)</th>
                                        <td>@Html.TextAreaFor(m => m.EditModel.Memo, new {@class = "form-control", rows = "6"})</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-success" onclick="SaveData()">儲存</button>
                        </div>
                    </div>
                    <!-- /.card -->
                    @Html.HiddenFor(m => m.EditModel.ID)
                </form> 
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>


    function SaveData() {

        var data = new FormData()
        var ID = $('#@Html.IdFor(m => m.EditModel.ID)').val();
        var MainClass = $('#@Html.IdFor(m => m.EditModel.MainClass)').val();
        var Text = $('#@Html.IdFor(m => m.EditModel.Text)').val();
        var Memo = $('#@Html.IdFor(m => m.EditModel.Memo)').val();

        if (MainClass == "") { $.alert("主分類需選擇"); return; }
        if (Text == "") { $.alert("次類別名稱不可為空白"); return; }


        data.append('@Html.NameFor(m => m.EditModel.ID)', ID);
        data.append('@Html.NameFor(m => m.EditModel.MainClass)', MainClass);
        data.append('@Html.NameFor(m => m.EditModel.Text)', Text);
        data.append('@Html.NameFor(m => m.EditModel.Memo)', Memo);

        SendAjax({
            url: '@Url.Action("EditOldData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "修改成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }

    function Reset() {
        $('#@Html.IdFor(m => m.EditModel.MainClass)').val("");
        $('#@Html.IdFor(m => m.EditModel.Text)').val("");
        $('#@Html.IdFor(m => m.EditModel.Memo)').val("");
    }
</script>