@model WebPccuClub.Models.ClubActFinishViewModel

@{
    Layout = "_FrontLayout";
    ViewBag.Title = "活動結案紀錄";
}

@if (null != Model.DetailModel)
{
    <div class="col-xxl-8">
        <div class="contentWrapper">
            <h4 class="pageTitle">@Model.DetailModel.ActName</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">活動結案紀錄</a></li>
                    <li class="breadcrumb-item active">@Model.DetailModel.ActName</li>
                </ol>
            </nav>
            <hr>
            <div class="mb-4">
                <a id="Back" href="@Url.Action("Index")"><i class="fas fa-chevron-left"></i> 返回</a>
            </div>

            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">審核狀態</div>
                    <div class="content">
                        @if (Model.DetailModel.ActFinishVerify == "01")
                        {
                            <div class="badge badge-primary">@Model.DetailModel.ActVerifyText</div>
                        }
                        else if (Model.DetailModel.ActFinishVerify == "02")
                        {
                            <div class="badge badge-success">@Model.DetailModel.ActVerifyText</div>
                        }
                        else if (Model.DetailModel.ActFinishVerify == "03")
                        {
                            <div class="badge badge-secondary">@Model.DetailModel.ActVerifyText</div>
                        }
                        else if (Model.DetailModel.ActFinishVerify == "04")
                        {
                            <div class="badge badge-info">@Model.DetailModel.ActVerifyText</div>
                        }
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">審核備註</div>
                    <div class="content">@Model.DetailModel.Memo</div>
                </div>
                <div class="infoItem">
                    <div class="tag">社團代碼</div>
                    <div class="content">@Model.DetailModel.ClubId</div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動報備編號</div>
                    <div class="content">@Model.DetailModel.ActID</div>
                </div>
                <div class="infoItem">
                    <div class="tag">主辦單位</div>
                    <div class="content">@Model.DetailModel.ClubCName</div>
                </div>
                <div class="infoItem">
                    <div class="tag">承辦人</div>
                    <div class="content">@Model.DetailModel.Caseman</div>
                </div>
                <div class="infoItem">
                    <div class="tag">聯絡Email</div>
                    <div class="content">@Model.DetailModel.Email</div>
                </div>
                <div class="infoItem">
                    <div class="tag">聯絡電話/分機</div>
                    <div class="content">@Model.DetailModel.Tel</div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動名稱</div>
                    <div class="content">@Model.DetailModel.ActName</div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動辦理時程</div>
                    <div class="content">@Model.DetailModel.Course</div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動資訊簡述</div>
                    <div class="content">@Model.DetailModel.ShortInfo</div>
                </div>
            </div>

            <div class="infoWrapper mb-5">
                <div class="infoItem">
                    <div class="tag">參與學號匯入</div>
                    <div class="content">
                        @if (null != Model.DetailModel.PersonModel && Model.DetailModel.PersonModel.Count > 0)
                        {
                            <div class="mb-1">
                                <a class="text-decoration-underline" href="" onclick="ExportSearchResult(@Model.DetailModel.ActFinishId)">參與學號</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">其他附件</div>
                    <div class="content">
                        @if (null != Model.DetailModel.ElseFile)
                        {
                            <div class="mb-1">
                                <a class="text-decoration-underline" href="../@Model.DetailModel.ElseFile" target="_blank">其他附件</a>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>

            @if (Model.DetailModel.type == "P")
            {
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-3">
                        <a href=@Url.Action("SelectedPersonal", new { id = @Model.DetailModel.ActFinishId }) class="btn btn-secondary btn-modern border-0 w-100" target="_blank">匯出列印活動證明(個人)</a>
                    </div>
                    <div class="col-lg-3">
                        <a href=@Url.Action("PrintGroup", new { id = @Model.DetailModel.ActFinishId }) class="btn btn-primary btn-modern border-0 w-100" target="_blank">列印活動證明(全體)</a>
                    </div>
                </div>
            }

        </div>
    </div>
}

<script>
    function ExportSearchResult(id) {
        window.open('@Url.Action("ExportSearchResult")' + '?id=' + id);
    }
</script>