@model WebPccuClub.Models.ClubActFinishViewModel

@{
    Layout = "_FrontSimpleLayout";
    var GroupPrintModel = Model.GroupPrintModel;
    int columns = Model.GroupPrintModel.Count >=2 ? 2 : 1;
}

 <style>
        .certificate {
            padding: 40px;
        }
        .field {
            margin: 25px 0;
        }
        .field span {
            font-weight: bold;
        }
    </style>

<div role="main" class="main">
    <div class="container p-relative py-md-5 py-4">

        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="printContent">

                    <div class="certificate">
                        <h3 class="text-center text-6">活動參與證明</h3>

                        <div class="field"><span>活動名稱：</span>@Model.DetailModel.ActName</div>
                        <div class="field"><span>活動時間：</span> 
                            @Model.DetailModel.ActDate.Value.Year 年
                            @Model.DetailModel.ActDate.Value.Month 月
                            @Model.DetailModel.ActDate.Value.Day 日
                        </div>

                        <table class="table table-bordered mt-4">
                            <tbody>
                                <tr>
                                    @if (GroupPrintModel.Count >= 2)
                                    {
                                        <td class="text-center">參與學號</td>
                                        <td class="text-center">姓名</td>
                                        <td class="text-center">參與學號</td>
                                        <td class="text-center">姓名</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">參與學號</td>
                                        <td class="text-center">姓名</td>
                                    }
                                </tr>
                                @for (int i = 0; i < GroupPrintModel.Count; i += columns)
                                {
                                    <tr>
                                        @for (int j = 0; j < columns; j++)
                                        {
                                            int index = i + j;
                                            if (index < GroupPrintModel.Count)
                                            {
                                                var student = GroupPrintModel[index];
                                                <td class="text-center">@student.SNO</td>
                                                <td class="text-center">@student.Name</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="print-btn btn btn-secondary btn-modern px-5" type="button">列印</button>
        </div>

    </div>
</div>

<script>

    function SaveData() {

    }

</script>