@model WebPccuClub.Models.ConsultationApplyViewModel

@{
    Layout = "_FrontSimpleLayout";
    ViewBag.Title = "初談申請表";

    List<SelectListItem> LstNational = ViewBag.ddlAllNational;
    List<SelectListItem> LstCounsellingStatus = ViewBag.ddlCounsellingStatus;
}

<head>
    <script src="~/js/custom_counselling.js?v=1"></script>
</head>

<div class="col-xxl-8 col-xl-8">
    <div class="contentWrapper">
        <h4 class="pageTitle">初談申請表</h4>
        <a style="visibility:hidden" id="Next" href="@Url.Action("Result")"></a>
        <hr>
        <p class="hint mb-3"><span class="req-star">*</span>為必填欄位</p>
            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">姓名<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.CreateModel.Name, new { @class="form-control w-auto", @placeholder="姓名"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">系級<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.CreateModel.Department, new { @class="form-control w-auto", @placeholder="系級"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">學號<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.CreateModel.SNO, new { @class="form-control w-auto", @placeholder="學號"})
                        <p class="hint mb-0 py-1"><i class="fas fa-info-circle"></i> 請填寫正確的學號</p>
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">電話<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.CreateModel.Tel, new { @class="form-control w-auto", @placeholder="電話"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">國籍<span class="req-star">*</span></div>
                    <div class="content warning-box">

                        @foreach (SelectListItem item in LstNational)
                        {
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.CreateModel.Citizenship, item.Value, new { @id = string.Format("Citizenship_{0}", item.Value), @class="form-check-input national_trigger" })
                                <label for=@string.Format("Citizenship_{0}", item.Value)>@item.Text</label>
                            </div>
                        }
                        <div id="national_agree" class="">
                            <div class="hideBox" data-name="02">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center pt-2">
                                            <label class="flex-shrink-0 me-2"
                                                   for="jq_input1">國家名稱：</label>
                                            <div class="jq_box1 position-relative w-100">
                                                @Html.TextBoxFor(m => m.CreateModel.CitizenshipName, new { @class="form-control national_info_req", @placeholder="國家名稱"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">過去2週曾出現這些想法或計劃<br />(可複選)<span class="req-star">*</span></div>
                    <div class="content warning-box">
                        @foreach (SelectListItem item in LstCounsellingStatus)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input mindset_trigger" type="checkbox"
                                       name="mindset" id="@string.Format("CounsellingStatus_{0}", item.Value)" value=@item.Value>
                                <label class="form-check-label" for="@string.Format("CounsellingStatus_{0}", item.Value)">@item.Text</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">可初談時段<br />(可複選，約30分鐘)<span class="req-star">*</span></div>
                    <div class="content warning-box">
                        <table class="table table-sm table-bordered">
                            <thead class="text-center table-secondary">
                            <th>
                                時段\星期<input type="checkbox" name="toggle-all"
                                            class="form-check-input mx-2"
                                            data-bs-toggle="tooltip" data-bs-title="所有時段">
                            </th>
                            <th>
                                一<br /><input type="checkbox" name="toggle-all-vertical"
                                              class="form-check-input" value="mon"
                                              data-bs-toggle="tooltip" data-bs-title="星期一所有時段">
                            </th>
                            <th>
                                二<br /><input type="checkbox" name="toggle-all-vertical"
                                              class="form-check-input" value="tue"
                                              data-bs-toggle="tooltip" data-bs-title="星期二所有時段">
                            </th>
                            <th>
                                三<br /><input type="checkbox" name="toggle-all-vertical"
                                              class="form-check-input" value="wed"
                                              data-bs-toggle="tooltip" data-bs-title="星期三所有時段">
                            </th>
                            <th>
                                四<br /><input type="checkbox" name="toggle-all-vertical"
                                              class="form-check-input" value="thu"
                                              data-bs-toggle="tooltip" data-bs-title="星期四所有時段">
                            </th>
                            <th>
                                五<br /><input type="checkbox" name="toggle-all-vertical"
                                              class="form-check-input" value="fri"
                                              data-bs-toggle="tooltip" data-bs-title="星期五所有時段">
                            </th>
                            </thead>
                            <tbody id="time-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-lg-4">
                    <button class="submit-btn btn btn-primary btn-modern border-0 w-100" type="submit" onclick="return SaveData()">送出預約 <i class="icon-check"></i></button>
                </div>
            </div>
    </div>
</div>

<script>

    function SaveData() {

        var data = new FormData()

        var Name = $('#@Html.IdFor(m => m.CreateModel.Name)').val();
        var Department = $('#@Html.IdFor(m => m.CreateModel.Department)').val();
        var SNO = $('#@Html.IdFor(m => m.CreateModel.SNO)').val();
        var Tel = $('#@Html.IdFor(m => m.CreateModel.Tel)').val();
        var Citizenship = $("[id ^= 'Citizenship_']:checked").val()
        var CitizenshipName = $('#@Html.IdFor(m => m.CreateModel.CitizenshipName)').val();
        var strAppointmentTime = getStrTime();

        var selectedValues = [];
        $(".mindset_trigger").each(function () {
            if ($(this).is(":checked")) {
                selectedValues.push($(this).val());
            }
        });

        if (Name == "") { $.alert("姓名不可為空白"); return false; }
        if (Department == "") { $.alert("系級不可為空白"); return false; }
        if (SNO == "") { $.alert("學號不可為空白"); return false; }
        if (Tel == "") { $.alert("電話不可為空白"); return false; }
        if (Citizenship == undefined) { $.alert("國籍不可為空白"); return false; }

        if (Citizenship == "02") {
            if (CitizenshipName == "") { $.alert("國家名稱不可為空白"); return false; }
        }
        else{
            data.append('@Html.NameFor(m => m.CreateModel.CitizenshipName)', "");
        }

        if (selectedValues.length == 0) { $.alert("請選擇過去2週曾出現以下想法或計劃"); return false; }
        if (strAppointmentTime.length == 0) { $.alert("請選擇可初談時段"); return false; }

        data.append('@Html.NameFor(m => m.CreateModel.Name)', Name);
        data.append('@Html.NameFor(m => m.CreateModel.Department)', Department);
        data.append('@Html.NameFor(m => m.CreateModel.SNO)', SNO);
        data.append('@Html.NameFor(m => m.CreateModel.Tel)', Tel);
        data.append('@Html.NameFor(m => m.CreateModel.Citizenship)', Citizenship);
        data.append('@Html.NameFor(m => m.CreateModel.CitizenshipName)', CitizenshipName);
        data.append('@Html.NameFor(m => m.CreateModel.strCounsellingStatus)', selectedValues);
        data.append('@Html.NameFor(m => m.CreateModel.strAppointmentTime)', strAppointmentTime);

        SendAjax({
            url: '@Url.Action("SaveNewData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    window.location = $("#Next").attr("href");
                }
                else { $.alert(result.errorMsg); }
            },
            error: function (response) {
                $.alert(result.errorMsg);
            }
        });
    }


    function getStrTime() {
        const checkboxes = document.querySelectorAll('input[name="chktime"]');
        const dayTimes = {};
        const daysMap = { mon: '1', tue: '2', wed: '3', thu: '4', fri: '5' };

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                const [day, hour] = checkbox.value.split('-');
                if (!dayTimes[day]) {
                    dayTimes[day] = [];
                }
                dayTimes[day].push(hour);
            }
        });

        const result = Object.keys(dayTimes).map(day => {
            const hours = dayTimes[day].join(',');
            return `${daysMap[day]}:${hours}`;
        }).join('|');

        return result;
    }

</script>