@model WebPccuClub.Models.ClubHandoverViewModel


@if (Model.HistoryResultModel.Count > 0)
{
    <div class="pagelist pagelist-icon2">
    @foreach (var item in Model.HistoryResultModel)
    {
        <div class="listItem">
            <div class="textbox">
                <div class="title">@item.DocNoText</div>
                <div class="spec">
                    <div class="tag">學年度：</div>
                    <div class="content">@item.SchoolYear</div>
                </div>
                <div class="spec">
                    <div class="tag">上傳時間：</div>
                    <div class="content">@item.Created.Value.ToString("yyyy/MM/dd")</div>
                </div>
            </div>
                <a href="@Url.Action("HandOver0101", new { id = @item.HoID })" target="_blank" class="icon">
                編輯 <i class="fas fa-pen"></i>
            </a>
            <a href="@Url.Action("Print0101", new { id = @item.HoID })" target="_blank" class="icon">
                列印 <i class="fas fa-print"></i>
            </a>
        </div>

    }
    </div>
}

<div class="card-footer clearfix" style="background:none;">
    <div class="pagination justify-content-end" id="SearchResultListPagination" style="justify-content:center !important;"></div>
</div>
<!-- /.card-body -->

<script>
    $("#SearchResultListPagination").solventoPageBar(
        {
            containerHtml: "<ul class='pagination justify-content-end'>{{:firstPageRender}}{{:prePageRender}}{{:pageRender}}{{:nextPageRender}}{{:lastPageRender}}</ul>{{:totalPageRender}}", // render: pagesbarHtml
            firstPageHtml: "<li class='page-item {{:disable}}'><a {{:idx}} class='page-link {{:pageClass}}'><span class='fas fa-angle-double-left'></span></a></li>",// pageClass: clickEventClass,idx : idx
            lastPageHtml: "<li class='page-item {{:disable}}'><a {{:idx}} class='page-link {{:pageClass}}'><span class='fas fa-angle-double-right'></span></a></li>",// pageClass: clickEventClass,idx : idx
            pageHtml: " <li class='page-item {{:selectedHtml}}'><a {{:idx}} class='page-link {{:pageClass}}'>{{:pageNumber}}</a></li>",//pageClass: clickEventClass, pageNumber: pageNumber, selectedHtml : selectedHtml,idx : idx
            prePageHtml: "<li class='page-item'><a {{:idx}} class='page-link {{:pageClass}}'><span class='fas fa-angle-left'></span></a></li>",// pageClass: clickEventClass,idx : idx
            nextPageHtml: "<li class='page-item'><a {{:idx}} class='page-link {{:pageClass}}'><span class='fas fa-angle-right'></span></a></li>",// pageClass: clickEventClass,idx : idx
            //totalPageHtml: "<div class='page-intro'>共<span>{{:totalCount}}</span>筆資料</div>",
            totalPageHtml: "",
            pNow: "目前為第 {{:pnow}} 頁 / 共 {{:ptotle}} 頁",
            pEver: "每頁顯示 {{:pever}} 筆 / 共 {{:ptotleever}} 筆",
            pageSelectedHtml: "active",
        },
        parseInt($('#SearchForm').find("input[name='@Html.NameFor(m => m.HistoryConditionModel.Page)']").val()) + 1,
        parseInt($('#SearchForm').find("input[name='@Html.NameFor(m => m.HistoryConditionModel.PageSize)']").val()),

    @Model.HistoryConditionModel.TotalCount,
        changePage
    );

    function changePage(idx) {
        //動畫
        $('#SearchForm').find("input[name='@Html.NameFor(m => m.HistoryConditionModel.Page)']").val(idx - 1);
        //取頁面數
        $("#@Html.IdFor(m => m.HistoryConditionModel.Page)").val(idx - 1);

        GoSearch();
    }



</script>