@model WebPccuClub.Models.ClubHandoverViewModel

@{
    Layout = "_FrontSimpleLayout";
}
<div role="main" class="main">
    <div class="container p-relative py-md-5 py-4">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="printContent">

                    <h3 class="text-center text-6">蒐集、處理及利用個人資料告知暨同意書</h3>

                    <article>
                        <p><strong>一、中國文化大學告知個資當事人蒐集、處理及利用個人資料之事項：</strong></p>
                        <p>
                            中國文化大學(下稱本校)基於提供在校及離校後之教育行政及服務、學生輔導及管理、校園生活、學習及活動，與其相關之推廣作業等目的，本校得蒐集、處理及利用您的個人資料，相關蒐集、處理及利用皆以尊重您的權益為基礎。另依據我國個人資料保護法(下稱個資法)之規定，本校應向您明確告知以下事項，包括：蒐集之目的，個人資料之類別，個人資料處理、利用之期間、地區、對象及方法，依個資法規定您得行使之權利及方式。
                        </p>

                        <p>
                            本校基於前述之目的，將蒐集您的以下資料，包括但不限於姓名、性別、身分證字號、連絡資料、學歷資料、財務資料、父母資料等。另基於我國相關法令，本校得視情況另蒐集您的健康紀錄。上述所蒐集之資料除法令或中央事業主管單位另有規定之保存期限外，以上開蒐集目的完成所需之期間為使用期間。上述所蒐集之資料利用地區以本國或經您授權得使用之地區為主，利用對象以本校以及本校完成蒐集特定目的之相關合作對象為主，使用方式以符合個資法之各項自動化機器或其他非自動化之蒐集、處理、利用、傳輸與保存等。
                        </p>



                        <p>本校保有您的個人資料時，基於個資法之規定，您可透過書面/電子方式行使以下權利，除基於個資法與其他相關法令規定外，本校均不會拒絕：</p>


                        <p>(一)查閱或請求閱覽本人之個人資料或請求製給個人資料複製本，惟本校依個資法第十四條之規定得酌收必要成本費用。</p>


                        <p>(二)請求補充或更正本人之個人資料，惟您應適當說明其原因及事實。</p>

                        <p>(三)於個人資料蒐集之特定目的消失或期限屆滿時，得向本校請求停止蒐集、處理、利用或刪除本人之個人資料。惟依個資法第十一條第三項但書之規定，本校因執行業務所必須或經本人書面同意者，不在此限。</p>

                        <p>您得自由選擇是否提供相關個人資料及類別，惟若您所拒絕提供之個人資料，屬本校辦理業務或作業所必須之資料，本校將可能無法執行必要之業務審核或作業。</p>

                        <p>您應確認所提供之個人資料均屬真實且正確，如有不實或需變更者，應由您本人依本校之程序辦理更正。</p>

                        <p><strong>二、個資當事人同意個人資料蒐集、處理及利用之事項：</strong></p>

                        <p>(一)本人已收到並閱讀瞭解本同意書之內容。</p>

                        <p>(二)本人同意中國文化大學得依個人資料保護法之相關規定，對本人之個人資料，有為蒐集、處理及利用之權利。</p>

                        <p>(三)本表單因社團長期記錄保存用途，其紙本個資保存年限為10年、電子化個資保存年限為業務存續期間。</p>

                        <p class="text-right py-3">
                            <strong>
                                <span style="font-size:1.375em;">個資當事人簽名：__________________&nbsp;_____年_____月_____日</span>
                            </strong>
                        </p>
                    </article>

                    <div class="mb-0">本校個人資料保護網站參閱個人資料收集使用聲明(網址&nbsp;<a href="http://pims.pccu.edu.tw" title="官網"><span style="color: rgb(0, 0, 255);"><u>http://pims.pccu.edu.tw</u></span></a>)</div>




                    <form class="form-box checkthisform" action="" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="row justify-content-center py-5">
                            <div class="col-md-8">
                                <p class="hint mb-3"><span class="req-star">*</span>為必填欄位</p>
                                <div class="form-item">
                                    <label for="">學年度：<span class="req-star">*</span></label>
                                    @Html.TextBoxFor(m => m.Handover0101Model.SchoolYear, new { @class="form-control", @readonly="readonly"})
                                </div>
                                <div class="form-item">
                                    <label for="">社團代碼：<span class="req-star">*</span></label>
                                    @Html.TextBoxFor(m => m.Handover0101Model.ClubID, new { @class="form-control", placeholder="社團代碼"})
                                </div>
                                <div class="form-item">
                                    <label for="">社團名稱：<span class="req-star">*</span></label>
                                    @Html.TextBoxFor(m => m.Handover0101Model.ClubName, new { @class="form-control", placeholder="社團名稱"})
                                </div>
                                <div class="form-item">
                                    <label for="">當事人姓名：<span class="req-star">*</span></label>
                                    @Html.TextBoxFor(m => m.Handover0101Model.UserName, new { @class="form-control", placeholder="當事人姓名"})
                                </div>
                                <div class="form-item">
                                    <label for="">是否同意此告知聲明：<span class="req-star">*</span></label>
                                    <div class="warning-box">
                                        @Html.DropDownListFor(m => m.Handover0101Model.Agree ,(List<SelectListItem>)ViewBag.ddlAgree,"請選擇", new {@class = "form-control"})
                                    </div>
                                </div>
                                <hr>
                                <div>▲本表單列印後請親筆簽名</div>
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.Handover0101Model.HoID)
                        @Html.HiddenFor(m => m.Handover0101Model.IsEdit)
                        @Html.HiddenFor(m => m.Handover0101Model.HoDetailID)

                        <div class="text-center">
                            @if (Model.Handover0101Model.IsEdit == "1")
                            {
                                <button type="button" class="submit-btn btn btn-primary btn-modern px-5" onclick="SaveData()">儲存</button>
                            }
                            else
                            {
                                <button type="button" class="submit-btn btn btn-primary btn-modern px-5" onclick="SaveData()">送出</button>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function SaveData() {

        var data = new FormData()
        var HoID = $('#@Html.IdFor(m => m.Handover0101Model.HoID)').val();
        var IsEdit = $('#@Html.IdFor(m => m.Handover0101Model.IsEdit)').val();
        var HoDetailID = $('#@Html.IdFor(m => m.Handover0101Model.HoDetailID)').val();
        var SchoolYear = $('#@Html.IdFor(m => m.Handover0101Model.SchoolYear)').val();
        var ClubID = $('#@Html.IdFor(m => m.Handover0101Model.ClubID)').val();
        var ClubName = $('#@Html.IdFor(m => m.Handover0101Model.ClubName)').val();
        var UserName = $('#@Html.IdFor(m => m.Handover0101Model.UserName)').val();
        var Agree = $('#@Html.IdFor(m => m.Handover0101Model.Agree)').val();
        var IsEdit = $('#@Html.IdFor(m => m.Handover0101Model.IsEdit)').val();

        if (ClubID == "") { $.alert("社團代碼不可為空白"); return; }
        if (ClubName == "") { $.alert("社團名稱不可為空白"); return; }
        if (UserName == "") { $.alert("當事人姓名不可為空白"); return; }
        if (Agree == "") { $.alert("需同意告知聲明"); return; }

        data.append('@Html.NameFor(m => m.Handover0101Model.HoID)', HoID);
        data.append('@Html.NameFor(m => m.Handover0101Model.IsEdit)', IsEdit);
        data.append('@Html.NameFor(m => m.Handover0101Model.HoDetailID)', HoDetailID);
        data.append('@Html.NameFor(m => m.Handover0101Model.SchoolYear)', SchoolYear);
        data.append('@Html.NameFor(m => m.Handover0101Model.ClubID)', ClubID);
        data.append('@Html.NameFor(m => m.Handover0101Model.ClubName)', ClubName);
        data.append('@Html.NameFor(m => m.Handover0101Model.UserName)', UserName);
        data.append('@Html.NameFor(m => m.Handover0101Model.Agree)', Agree);

        if (IsEdit == "1") {
            SendAjax({
                url: '@Url.Action("Save0101")',
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.errorCode == 0) {
                        $.confirm({
                            title: "",
                            content: "儲存成功",
                            buttons: {
                                確定: function () {
                                    var url = '@Url.Action("Print0101")';
                                    window.location.href = url;
                                },
                            }
                        });
                    }
                    else { $.alert(result.errorMsg); }
                },
                error: function (response) {
                    $.alert(result.errorMsg);
                }
            });
        }
        else {
            SendAjax({
                url: '@Url.Action("Save0101")',
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.errorCode == 0) {
                        $.confirm({
                            title: "",
                            content: "新增成功",
                            buttons: {
                                確定: function () {
                                    var url = '@Url.Action("Print0101")';
                                    window.location.href = url;
                                },
                            }
                        });
                    }
                    else { $.alert(result.errorMsg); }
                },
                error: function (response) {
                    $.alert(result.errorMsg);
                }
            });
        }
    }

</script>