@model WebPccuClub.Models.ClubHandoverViewModel

@{
    Layout = "_FrontLayout";
}


<div class="col-xxl-8 col-xl-10">
	<div class="contentWrapper">
		<h4 class="pageTitle">已上傳檔案</h4>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href=@Url.Action("Index")>交接資料管理</a></li>
				<li class="breadcrumb-item active">已上傳檔案</li>

			</ol>
		</nav>
		<hr>
		<div class="mb-4">
			<a href=@Url.Action("Index")><i class="fas fa-chevron-left"></i> 返回</a>
		</div>
		<div class="row">
			<form method="post" id="SearchForm" enctype="multipart/form-data" action="" style="display:contents;">
				
			<div class="col-md-3">
				<div class="d-flex align-items-center mb-3">
					<i class="fas fa-filter text-primary"></i>
					@Html.DropDownListFor(m => m.FileConditionModel.SchoolYear,(List<SelectListItem>)ViewBag.ddlSchoolYear,"請選擇", new {@class = "form-control ms-3"})
				</div>
			</div>
				@Html.HiddenFor(m => m.FileConditionModel.Page)
				@Html.HiddenFor(m => m.FileConditionModel.PageSize)
				@Html.HiddenFor(m => m.FileConditionModel.TotalCount)
			</form>
		</div>
		
		<div id="SearchResultList" class="row"></div>

	</div>
</div>

<script>

	$(document).ready(function () {
		GoSearch();
	});

	function GoSearch() {
		SendAjax({
			url: '@Url.Action("GetFileSearchResult")',
			data: $("#SearchForm").serialize(),
			success: function (result) {
				$('#SearchResultList').html(result);
			}
		});
	}

	$('#@Html.IdFor(m => m.FileConditionModel.SchoolYear)').change(function (e) {
		GoSearch();
	});

	$('#JumpPergroup').change(function (e) {
		$("#@Html.IdFor(m => m.FileConditionModel.PageSize)").val(e.target.value);
		GoSearch();
	});

	$('#Jumppage').change(function (e) {
		$("#@Html.IdFor(m => m.FileConditionModel.Page)").val(e.target.value);
		GoSearch();
	});

</script>