@model WebPccuClub.Models.ClubHandoverViewModel

@{
	Layout = "_FrontCleanLayout";
	ViewBag.Title = "改選交接資料表";
	int NowSchoolYear = int.Parse(Model.Handover0204Model.SchoolYear);
	string PreSchoolYear = (NowSchoolYear - 1).ToString();

}

<div class="printPage">
	<div class="a4 page">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-xxl-8">
					<div class="">
						<div class="text-center">
							<h2 class="text-10">中國文化大學</h2>
							<h4 class="text-7 font-weight-normal">
								<u>@(Int32.Parse(Model.Handover0204Model.SchoolYear) + 1)</u>學年度改選交接資料表</h3>
								<div class="row justify-content-center py-4">
									<div class="col-5">
										<img src="../../uploads/others/logo_circle.png" alt="">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center pt-4">
				<div class="col-11">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td width="30%" class="">社團代碼：</td>
								<td class="">@Model.Handover0204Model.ClubID</td>
							</tr>
							<tr>
								<td class="">社團名稱</td>
								<td class="">@Model.Handover0204Model.ClubName</td>
							</tr>
							<tr>
								<td class="">Name of clubs：</td>
								<td class="">@Model.Handover0204Model.NameOfClub</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-bordered text-center mb-2">
						<tbody>
							<tr>
								<td style="width: 300px;">
									@NowSchoolYear 學年度社團<strong>負責人</strong>
								</td>
								<td style="width: 300px;">
									@(Int32.Parse(Model.Handover0204Model.SchoolYear) + 1) 學年度社團<strong>負責人</strong>
								</td>
								<td style="width: 300px;">
									社團印鑑
								</td>
							</tr>
							<tr>
								<td style="width: 300px;">
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>年　　月　　日</p>
								</td>
								<td style="width: 300px;">
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>年　　月　　日</p>
								</td>
								<td style="width: 300px;">
								</td>
							</tr>
							<tr>
								<td style="width: 300px; padding-left: 0; padding-right: 0;">▲列印後請親筆簽名</td>
								<td style="width: 300px; padding-left: 0; padding-right: 0;">▲列印後請親筆簽名</td>
								<td style="width: 300px; padding-left: 0; padding-right: 0;">▲列印後請蓋印社團『印鑑章』</td>
							</tr>
						</tbody>
					</table>
					<p><strong>註：<br>1. 請線上編輯系列表單印出後進行簽章作業，再掃描統整成電子檔後上傳至系統<br>2. 本改選資料請自行複印放入年度檔案評鑑資料</strong></p>
				</div>
			</div>
			<div class="text-center">
				<button class="print-btn btn btn-secondary btn-modern px-5" type="button">列印</button>
			</div>
		</div>

	</div>
</div>
