@model WebPccuClub.Models.ClubEvaluationItemMangViewModel

@{
    Layout = "_BackendLayout";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <form method="post" id="form" enctype="multipart/form-data" action="">

                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                                <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                            </h6>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.SchoolYear)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.CreateModel.SchoolYear, (List<SelectListItem>)ViewBag.ddlSchoolYear, "請選擇學年度", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.SchoolYear)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.CreateModel.ClassId, (List<SelectListItem>)ViewBag.ddlClassId, "請選擇類別分類", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.ItemName)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.CreateModel.ItemName, new { @class = "form-control", placeholder = "請輸入項目名稱" })</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.ScoreUpper)<span class="required">*</span></th>
                                        <td>
                                            @Html.TextBoxFor(m => m.CreateModel.ScoreUpper, new { @class = "form-control", Type = "number", placeholder = "請輸入分數上限" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.ScoreLower)<span class="required">*</span></th>
                                        <td>
                                            @Html.TextBoxFor(m => m.CreateModel.ScoreLower, new { @class = "form-control", Type="number", placeholder = "請輸入分數下限" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.CreateModel.Memo)</th>
                                        <td>@Html.TextAreaFor(m => m.CreateModel.Memo, new {@class = "form-control", placeholder = "請輸入備註", rows = "6"})</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="mx-1 btn btn-outline-dark" onclick="Reset()">重設</button>
                            <button type="button" class="btn btn-success" onclick="SaveData()">儲存</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </form> 
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>


    function SaveData() {

        var data = new FormData()
        var SchoolYear = $('#@Html.IdFor(m => m.CreateModel.SchoolYear)').val();
        var ClassId = $('#@Html.IdFor(m => m.CreateModel.ClassId)').val();
        var ItemName = $('#@Html.IdFor(m => m.CreateModel.ItemName)').val();
        var ScoreUpper = $('#@Html.IdFor(m => m.CreateModel.ScoreUpper)').val();
        var ScoreLower = $('#@Html.IdFor(m => m.CreateModel.ScoreLower)').val();
        var Memo = $('#@Html.IdFor(m => m.CreateModel.Memo)').val();

        if (SchoolYear == "") { $.alert("學年度需選擇"); return; }
        if (ClassId == "") { $.alert("類別分類需選擇"); return; }
        if (ItemName == "") { $.alert("項目名稱不可為空白"); return; }
        if (ScoreUpper == "") { $.alert("分數上限不可為空白"); return; }
        if (ScoreLower == "") { $.alert("分數下限不可為空白"); return; }

        data.append('@Html.NameFor(m => m.CreateModel.SchoolYear)', SchoolYear);
        data.append('@Html.NameFor(m => m.CreateModel.ClassId)', ClassId);
        data.append('@Html.NameFor(m => m.CreateModel.ItemName)', ItemName);
        data.append('@Html.NameFor(m => m.CreateModel.ScoreUpper)', ScoreUpper);
        data.append('@Html.NameFor(m => m.CreateModel.ScoreLower)', ScoreLower);
        data.append('@Html.NameFor(m => m.CreateModel.Memo)', Memo);

        SendAjax({
            url: '@Url.Action("SaveNewData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "新增成功",
                        buttons: {
                            確定: function () {
                                Reset();
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }

    function Reset() {
        $('#@Html.IdFor(m => m.CreateModel.SchoolYear)').val("");
        $('#@Html.IdFor(m => m.CreateModel.ClassId)').val("");
        $('#@Html.IdFor(m => m.CreateModel.ItemName)').val("");
        $('#@Html.IdFor(m => m.CreateModel.ScoreUpper)').val("");
        $('#@Html.IdFor(m => m.CreateModel.ScoreLower)').val("");
        $('#@Html.IdFor(m => m.CreateModel.Memo)').val("");
    }
</script>