@model WebPccuClub.Models.ActListMangViewModel

@{

}

@if (Model.CreateModel.PlaceSource == "01")
{
    @if (ViewBag.ddlBuild != null)
    {
        <div>
            <div class="row pt-2">
                <div class="col-lg-6">
                    @Html.DropDownListFor(m => m.CreateModel.Buildid,(List<SelectListItem>)ViewBag.ddlBuild,"請選擇樓館", new {@class = "form-control mb-1 classroom1_select class_info_req"} )

                    @if (ViewBag.ddlPlace != null)
                    {
                        @Html.DropDownListFor(m => m.CreateModel.PlaceId,(List<SelectListItem>)ViewBag.ddlPlace,"請選擇場地", new {@class = "form-control classroom2_select class_info_req"} )
                    }
                </div>
            </div>

            @if (Model.PlaceDataModel != null)
            {
                if (Model.CreateModel.PlaceSource == "01")
                {
                    <div id="thisroom_box">
                        <p class="mb-0 py-2 hint">
                            <i class="fas fa-caret-down"></i>
                            場地開放時間狀態
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <div class="hint scroll-hint">(左右滑動以查看完整資訊)</div>

                        <div class="scroll-box">
                            <div class="thisroomTable table-shadow mb-3">
                                <div class="headerItem item">
                                    <div class="cell">平日開放時間</div>
                                    <div class="cell">假日開放時間</div>
                                    <div class="cell">場地狀態</div>
                                    <div class="cell">可使用人數</div>
                                    <div class="cell">已配置資訊器材</div>
                                    <div class="cell">場地備註</div>
                                </div>
                                @foreach (var item in Model.PlaceDataModel)
                                {
                                <div class="item">
                                    <span class="cell">@string.Format("{0}:00", item.Normal_STime) ～ @string.Format("{0}:00", item.Normal_ETime)</span>
                                    <span class="cell">@string.Format("{0}:00", item.Holiday_STime) ～ @string.Format("{0}:00", item.Holiday_ETime)</span>
                                        <span class="cell">@item.PlaceStatusText</span>
                                        @if (!string.IsNullOrEmpty(item.Capacity) && item.Capacity != "0")
                                        {
                                            <span>@string.Format("{0}人", item.Capacity)</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                        <span class="cell">@item.PlaceEquip</span>
                                        <span class="cell">@item.Memo</span>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}
else
{
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex align-items-center pt-2">
                    <label class="flex-shrink-0 me-2"
                           for="">場地名稱：</label>
                    <div class="jq_box2 position-relative w-100">
                        <td>@Html.TextBoxFor(m => m.CreateModel.PlaceName, new {@class = "form-control class_info_req", placeholder="請輸入場地名稱"})</td>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>

    $('#@Html.IdFor(m => m.CreateModel.Buildid)').on('change', function () {
            InitPlaceSelect($("[id ^= 'PlaceSource_']:checked").val(), $(this).val());
        });


    $('#@Html.IdFor(m => m.CreateModel.PlaceId)').change(function () {
        InitPlaceData($("[id ^= 'PlaceSource_']:checked").val(), $('#@Html.IdFor(m => m.CreateModel.Buildid)').val(), $(this).val());
    });
        
    function InitPlaceSelect(PlaceSource, Buildid) {

        SendAjax({
            url: '@Url.Action("InitPlaceSelect")',
            data: { 'PlaceSource': PlaceSource, 'Buildid': Buildid },
            success: function (result) {
                $('#class_input_box').html(result);
            }
        });

      

    }

    function InitPlaceData(PlaceSource, Buildid, PlaceId) {

        SendAjax({
            url: '@Url.Action("InitPlaceData")',
            data: { 'PlaceSource': PlaceSource, 'Buildid': Buildid, 'PlaceId': PlaceId },
            success: function (result) {
                $('#class_input_box').html(result);
            }
        });

        GetBrrowStatus();
    }

</script>