@model WebPccuClub.Models.ClubActReportViewModel

@{
    Layout = "_FrontLayout";
    ViewBag.Title = "活動報備-確認活動資訊";
    List<SelectListItem> LstStaticOrDynamic = ViewBag.ddlStaticOrDynamic;
    List<SelectListItem> LstActInOrOut = ViewBag.ddlActInOrOut;
    List<SelectListItem> LstActType = ViewBag.ddlActType;
    List<SelectListItem> LstUseITEquip = ViewBag.ddlUseITEquip;
    List<SelectListItem> LstSDGs = ViewBag.ddlSDGs;
    List<SelectListItem> LstPassport = ViewBag.ddlPassport;
    List<SelectListItem> LstPlaceSource = ViewBag.ddlPlaceSource;
    List<SelectListItem> LstClub = ViewBag.ddlAllClub;
    string StrSDGs = string.Empty;
    string[] arrRundown = Model.CreateModel.strRundown.Split("|");
}

<div class="col-xxl-8">
    <div class="contentWrapper">
        <h4 class="pageTitle">新增活動報備</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="apply.html">活動報備</a></li>
                <li class="breadcrumb-item active">新增活動報備</li>
            </ol>
        </nav>
        <hr>

        <div class="bg-quaternary font-weight-bold text-4 text-center py-2 mb-4">Step5. 資料確認</div>

        <div class="font-weight-bold text-4 py-2 mb-0">1. 報備資訊</div>
        <div class="infoWrapper mb-5">
            <div class="infoItem">
                <div class="tag">活動名稱</div>
                <div class="content">@Model.CreateModel.ActName</div>
            </div>
            <div class="infoItem">
                <div class="tag">報備日期</div>
                <div class="content">@DateTime.Now.ToString("yyyy/MM/dd")</div>
            </div>
            <div class="infoItem">
                <div class="tag">活動類型</div>
                <div class="content">
                    @LstStaticOrDynamic.Where(x => x.Value == Model.CreateModel.StaticOrDynamic).FirstOrDefault().Text
                </div>
            </div>
            <div class="infoItem">
                <div class="tag">活動地點</div>
                <div class="content">
                    @LstActInOrOut.Where(x => x.Value == Model.CreateModel.ActInOrOut).FirstOrDefault().Text
                </div>
            </div>
            <div class="infoItem">
                <div class="tag">活動人數</div>
                <div class="content">
                    @Model.CreateModel.Capacity
                </div>
            </div>
            <div class="infoItem">
                <div class="tag">活動性質</div>
                <div class="content">

                    @LstActType.Where(x => x.Value == Model.CreateModel.ActType).FirstOrDefault().Text

                </div>
            </div>
            <div class="infoItem">
                <div class="tag">使用資訊設備</div>
                <div class="content">

                    @LstUseITEquip.Where(x => x.Value == Model.CreateModel.UseITEquip).FirstOrDefault().Text

                </div>
            </div>
            <div class="infoItem">
                <div class="tag">活動簡介</div>
                <div class="content">
                    @Model.CreateModel.ShortDesc
                </div>
            </div>
            <div class="infoItem">
                <div class="tag">聯合國SDGs永續發展目標</div>
                <div class="content">

                    @if (!string.IsNullOrEmpty(Model.CreateModel.SDGs))
                    {
                        string[] arrSDGs = Model.CreateModel.SDGs.Split(",");

                        for (int i = 0; i <= arrSDGs.Length - 1; i++)
                        {
                            if (i != arrSDGs.Length - 1)
                            {
                                StrSDGs += LstSDGs.Where(x => x.Value == arrSDGs[i]).FirstOrDefault().Text + "、";
                            }
                            else
                            {
                                StrSDGs += LstSDGs.Where(x => x.Value == arrSDGs[i]).FirstOrDefault().Text;
                            }
                        }
                    }
                    @StrSDGs

                </div>
            </div>
            <div class="infoItem">
                <div class="tag">全人學習護照</div>
                <div class="content">
                    @LstPassport.Where(x => x.Value == Model.CreateModel.PassPort).FirstOrDefault().Text
                    <div class="hint">若該活動欲認列於全人學習護照<a href="http://pass.pccu.edu.tw/" target="_blank">需另外至全人網站填報</a></div>
                </div>
            </div>
        </div>

        <div class="font-weight-bold text-4 py-2 mb-0">2. 活動行程</div>
        <div class="infoWrapper mb-5">
            <div class="infoItem">
                <div class="tag">行程</div>
                <div class="content">
                    <div class="dateItem">
                        @for (int i = 0; i <= arrRundown.Length - 1; i++)
                        {
                            string[] arr2 = arrRundown[i].Split(",");

                            <div class="item">
                                <span class="date">@arr2[1]</span>
                                <span class="time">@string.Format("{0}:00", arr2[2]) ~ @string.Format("{0}:00", arr2[3])</span>
                                <span class="location">@arr2[5]</span>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="font-weight-bold text-4 py-2 mb-0">3. 活動企劃書</div>
        <div class="infoWrapper mb-5">
            <div class="infoItem">
                <div class="tag">活動企劃書</div>
                <div class="content">
                    @foreach (var item in Model.CreateModel.LstProposal)
                    {
                        <div class="mb-1">
                            <a class="text-decoration-underline" href="../@item.FilePath" target="_blank">@item.FileName</a>
                        </div>
                    }

                </div>
            </div>
        </div>

        @if (Model.CreateModel.HasOutSide == "1")
        {
            <div class="font-weight-bold text-4 py-2 mb-0">4. 校外活動其他資訊</div>
            <div class="font-weight-bold py-2"><i class="fas fa-tag"></i> 領隊資訊</div>
            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">姓名</div>
                    <div class="content">@Model.CreateModel.LeaderName</div>
                </div>
                <div class="infoItem">
                    <div class="tag">電話</div>
                    <div class="content">@Model.CreateModel.LeaderTel</div>
                </div>
                <div class="infoItem">
                    <div class="tag">手機</div>
                    <div class="content">@Model.CreateModel.LeaderPhone</div>
                </div>
            </div>

            <div class="font-weight-bold py-2"><i class="fas fa-tag"></i> 活動負責人</div>
            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">姓名</div>
                    <div class="content">@Model.CreateModel.ManagerName</div>
                </div>
                <div class="infoItem">
                    <div class="tag">電話</div>
                    <div class="content">@Model.CreateModel.ManagerTel</div>
                </div>
                <div class="infoItem">
                    <div class="tag">手機</div>
                    <div class="content">@Model.CreateModel.ManagerPhone</div>
                </div>
            </div>

            <div class="font-weight-bold py-2"><i class="fas fa-tag"></i> 附件</div>
            <div class="infoWrapper mb-5">
                <div class="infoItem">
                    <div class="tag">附件檔案</div>
                    <div class="content">
                        @foreach (var item in Model.CreateModel.LstOutSideFile)
                        {
                            <div class="mb-1">
                                <a class="text-decoration-underline" href="../@item.FilePath" target="_blank">@item.FileName</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row justify-content-center mb-5">
            
                <div class="col-lg-3">
                    @if (Model.CreateModel.HasOutSide == "1")
                    {
                    <form asp-action="Create4" method="post" enctype="multipart/form-data">
                        <button class="btn btn-primary btn-outline btn-modern w-100 mb-2" type="submit"><i class="icon-arrow-left"></i>返回</button>
                        @*<a href="@Url.Action("Create4")" class="btn btn-primary btn-outline btn-modern w-100 mb-2"><i class="icon-arrow-left"></i> 返回</a>*@
                    </form>
                    }
                    else
                    {
                        <a href="@Url.Action("Create3")" class="btn btn-primary btn-outline btn-modern w-100 mb-2"><i class="icon-arrow-left"></i> 返回</a>
                    }
                </div>
            <div class="col-lg-3">
                <form asp-action="SaveData" method="post" enctype="multipart/form-data">
                    <button id="CheckSubmit" class="submit-btn btn btn-primary btn-modern w-100 mb-2" type="submit">確認送出 <i class="icon-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>



</script>