@model WebPccuClub.Models.ClubActReportViewModel

@{
    Layout = "_FrontLayout";
    ViewBag.Title = "新增活動結案紀錄";
}


<div class="col-xxl-8 col-xl-8">
    <div class="contentWrapper">
        <h4 class="pageTitle">新增活動結案紀錄</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="apply.html">活動報備</a></li>
                <li class="breadcrumb-item active">新增活動結案紀錄</li>
            </ol>
        </nav>
        <hr>
        <div class="mb-4">
            <a id="Back" href="@Url.Action("Index")"><i class="fas fa-chevron-left"></i>返回列表</a>
        </div>

        <p class="hint mb-3"><span class="req-star">*</span>為必填欄位</p>
        <form action="" class="form-box checkthisform" enctype="multipart/form-data" method="post">
            <div class="text-4 font-weight-bold py-2"><i class="fas fa-tag"></i> 社團資料</div>
            <div class="infoWrapper mb-4">
                <div class="infoItem">
                    <div class="tag">社團代碼</div>
                    <div class="content">@Model.ClubActFinish.ClubId</div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動報備編號</div>
                    <div class="content">@Model.ClubActFinish.ActID</div>
                </div>
                <div class="infoItem">
                    <div class="tag">主辦單位<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.ClubCName, new {@class="form-control", placeholder = "主辦單位"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">承辦人<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.Caseman, new {@class="form-control", placeholder = "承辦人"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">聯絡Email<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.Email, new {@class="form-control", placeholder = "聯絡Email"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">聯絡電話/分機<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.Tel, new {@class="form-control", placeholder = "聯絡電話/分機"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動日期<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.ActDate, new {@class="form-control w-auto", type="date", placeholder = "活動日期"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動名稱<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.ActName, new {@class="form-control", placeholder = "活動名稱"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動辦理時程<span class="req-star">*</span></div>
                    <div class="content">
                        @Html.DropDownListFor(m => m.ClubActFinish.Course ,(List<SelectListItem>)ViewBag.ddlSchoolYear,"請選擇活動辦理時程", new {@class = "form-control"})
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">活動資訊簡述<span class="req-star"></span></div>
                    <div class="content">
                        @Html.TextAreaFor(m => m.ClubActFinish.ShortInfo, new {@class="form-control", rows="5", placeholder = "活動資訊簡述"})
                    </div>
                </div>
            </div>

            <div class="text-4 font-weight-bold py-2"><i class="fas fa-tag"></i> 上傳附件</div>
            <div class="infoWrapper mb-5">
                <div class="infoItem">
                    <div class="tag">參與學號匯入<span class="req-star">*</span></div>
                    <div class="content">
                        <input id="updFile" name="updFile" type="file" class="form-control w-auto" accept=".xlsx" />
                        <div class="fs-90percent red-hint pt-2">僅接受以下格式：.xlxs</div>
                        <p class="hint mb-0 py-1"><i class="fas fa-info-circle"></i> 最大10MB</p>
                        <div class="hint pt-0">
                            <i class="fas fa-info-circle"></i> 下載範例檔案：<a href="@Url.Action("DownloadTemplate", "ClubActReport")">範例下載</a>
                        </div>
                    </div>
                </div>
                <div class="infoItem">
                    <div class="tag">其他附件<span class="req-star"></span></div>
                    <div class="content">
                        @Html.TextBoxFor(m => m.ClubActFinish.ElseFile, new{ @class="form-control w-auto", title="請上傳其他附件", type="file", accept=".pdf,.jpg,.jpeg,.png,.zip,.rar,.7z"})
                        @*<input id="ElseFile" name="ElseFile" type="file" class="form-control w-auto" title="請上傳其他附件" accept=".pdf,.jpg,.jpeg,.png,.zip,.rar,.7z" />*@
                        <div class="fs-90percent red-hint pt-2">
                            僅接受以下格式：.pdf、.jpg、.jpeg、.png、.zip、.rar、.7z
                        </div>
                        <p class="hint mb-0 py-1"><i class="fas fa-info-circle"></i> 最大10MB</p>
                        <p class="hint mb-0 py-1"><i class="fas fa-info-circle"></i> 非強制欄位，可上傳活動照片、結案報告或相關可公開活動資訊文件。</p>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.ClubActFinish.ActID)
            @Html.HiddenFor(m => m.ClubActFinish.ActDetailId)
            @Html.HiddenFor(m => m.ClubActFinish.ClubId)

            <div class="row justify-content-center mb-5">

                <div class="col-lg-4">
                    <button class="submit-btn btn btn-primary btn-modern border-0 w-100" type="submit" onclick="return SaveData()">送出審核 <i class="icon-check"></i></button>
                </div>
            </div>
        </form>


    </div>
</div>


<script>

    function SaveData() {

        var data = new FormData()

        var File = $('#updFile')[0].files[0];
        if (typeof File !== 'undefined') {
            var fileExtension = File.name.split('.').pop().toLowerCase();

            if (fileExtension !== 'xlsx') {
                $.alert("檔案類型不符合");
                return;
            }

            data.append('@Html.NameFor(m => m.File)', File);
        }
        else {
            $.alert("參與學號不可為空白");
            return;
        }

        var ElseFile = $('#@Html.IdFor(m => m.ClubActFinish.ElseFile)')[0].files[0];
        if (typeof ElseFile !== 'undefined') {
            var fileExtension = ElseFile.name.split('.').pop().toLowerCase();

            if (fileExtension !== 'pdf' && fileExtension !== 'jpg' && fileExtension !== 'jpeg' &&
                fileExtension !== 'png' && fileExtension !== 'zip' && fileExtension !== 'rar' && fileExtension !== '7z') {
                $.alert("檔案類型不符合");
                return;
            }

            data.append('@Html.NameFor(m => m.ClubActFinish.ElseFile)', ElseFile);
        }


        var ClubId = $('#@Html.IdFor(m => m.ClubActFinish.ClubId)').val();
        var ActID = $('#@Html.IdFor(m => m.ClubActFinish.ActID)').val();
        var ActDetailId = $('#@Html.IdFor(m => m.ClubActFinish.ActDetailId)').val();
        var ClubCName = $('#@Html.IdFor(m => m.ClubActFinish.ClubCName)').val();
        var Caseman = $('#@Html.IdFor(m => m.ClubActFinish.Caseman)').val();
        var Email = $('#@Html.IdFor(m => m.ClubActFinish.Email)').val();
        var Tel = $('#@Html.IdFor(m => m.ClubActFinish.Tel)').val();
        var ActDate = $('#@Html.IdFor(m => m.ClubActFinish.ActDate)').val();
        var ActName = $('#@Html.IdFor(m => m.ClubActFinish.ActName)').val();
        var Course = $('#@Html.IdFor(m => m.ClubActFinish.Course)').val();
        var ShortInfo = $('#@Html.IdFor(m => m.ClubActFinish.ShortInfo)').val();

        if (ClubCName == "") { $.alert("主辦單位不可為空白"); return; }
        if (Caseman == "") { $.alert("承辦人不可為空白"); return; }
        if (Email == "") { $.alert("聯絡Email不可為空白"); return; }
        if (Tel == "") { $.alert("聯絡電話/分機不可為空白"); return; }
        if (ActDate == "") { $.alert("活動日期不可為空白"); return; }
        if (ActName == "") { $.alert("活動名稱不可為空白"); return; }
        if (Course == "") { $.alert("活動辦理時程不可為空白"); return; }

        data.append('@Html.NameFor(m => m.ClubActFinish.ClubId)', ClubId);
        data.append('@Html.NameFor(m => m.ClubActFinish.ActID)', ActID);
        data.append('@Html.NameFor(m => m.ClubActFinish.ActDetailId)', ActDetailId);
        data.append('@Html.NameFor(m => m.ClubActFinish.ClubCName)', ClubCName);
        data.append('@Html.NameFor(m => m.ClubActFinish.Caseman)', Caseman);
        data.append('@Html.NameFor(m => m.ClubActFinish.Email)', Email);
        data.append('@Html.NameFor(m => m.ClubActFinish.Tel)', Tel);
        data.append('@Html.NameFor(m => m.ClubActFinish.ActDate)', ActDate);
        data.append('@Html.NameFor(m => m.ClubActFinish.ActName)', ActName);
        data.append('@Html.NameFor(m => m.ClubActFinish.Course)', Course);
        data.append('@Html.NameFor(m => m.ClubActFinish.ShortInfo)', ShortInfo);


        SendAjax({
            url: '@Url.Action("SaveActFinishNewData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "新增成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
            error: function (response) {
                $.alert(result.errorMsg);
            }
        });

    }

</script>