@model WebPccuClub.Models.ClubActReportViewModel

@{
    Layout = "_FrontLayout";
    ViewBag.Title = "活動報備";
    
}

<div class="col-xxl-8 col-xl-10">

    @Html.Partial("_FrontRemindWrapper")

    <div class="contentWrapper">
        <h4 class="pageTitle">活動報備</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form method="post" id="SearchForm" enctype="multipart/form-data" action="">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-filter text-primary"></i>
                        @Html.DropDownListFor(m => m.ConditionModel.SchoolYear,(List<SelectListItem>)ViewBag.ddlSchoolYear,"請選擇", new {@class = "form-control ms-3"})

                        @Html.DropDownListFor(m => m.ConditionModel.ActVerify, (List<SelectListItem>)ViewBag.ddlActVerify, "請選擇", new { @class = "form-control ms-3" })

                        @Html.DropDownListFor(m => m.ConditionModel.OrderBy, (List<SelectListItem>)ViewBag.ddlOrderBy, "請選擇", new { @class = "form-control ms-3" })
                    </div>

                    @Html.HiddenFor(m => m.ConditionModel.Page)
                    @Html.HiddenFor(m => m.ConditionModel.PageSize)
                    @Html.HiddenFor(m => m.ConditionModel.TotalCount)
                </form>
            </div>
            <div class="col-md-6">
                <div class="text-end mb-3">
                    @if (!string.IsNullOrEmpty(Model.ConditionModel.Enable) && Model.ConditionModel.Enable == "True")
                    {
                        if (DateTime.Parse(Model.ConditionModel.OpenDate).Date <= DateTime.Now && DateTime.Now < DateTime.Parse(Model.ConditionModel.CloseDate).Date.AddDays(1).AddSeconds(-1))
                        {
                            <a class="btn btn-primary btn-modern border-0" href="@Url.Action("Create")">新增活動報備 <i class="fas fa-plus"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-modern border-0" style="background-color:lightgray"
                               href="@Url.Action("Create")">新增活動報備 <i class="fas fa-plus"></i></a>
                        }
                    }
                    else
                    {
                        <a class="btn btn-primary btn-modern border-0" href="@Url.Action("Create")">新增活動報備 <i class="fas fa-plus"></i></a>
                    }
                </div>
            </div>
        </div>

        <div id="SearchResultList" class="pagelist pagelist-icon2"></div>

    </div>
</div>

<script>
    $(document).ready(function () {
        GoSearch();
    });

    function GoSearch() {
        SendAjax({
            url: '@Url.Action("GetSearchResult")',
            data: $("#SearchForm").serialize(),
            success: function (result) {
                $('#SearchResultList').html(result);
            }
        });
    }

    $('#@Html.IdFor(m => m.ConditionModel.SchoolYear)').change(function (e) {
        GoSearch();
    });

    $('#@Html.IdFor(m => m.ConditionModel.ActVerify)').change(function (e) {
        GoSearch();
    });

    $('#@Html.IdFor(m => m.ConditionModel.OrderBy)').change(function (e) {
        GoSearch();
    });

    $('#JumpPergroup').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.PageSize)").val(e.target.value);
        GoSearch();
    });

    $('#Jumppage').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.Page)").val(e.target.value);
        GoSearch();
    });
</script>