@model WebPccuClub.Models.ClubEvaluationMangViewModel

@{
    int BasicScore = int.Parse(ViewBag.BaseScore);
    int totalAdjustment = Model.EditModel.HistoryModel.Sum(item => item.Score);
    BasicScore = BasicScore + totalAdjustment;
    Layout = "_BackendLayout";

    <style>

        .score {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            color: cornflowerblue;
        }

        hr {
            margin-top: 2rem;
            margin-bottom: 2rem;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
        }

    </style>
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                
                <form method="post" id="form" enctype="multipart/form-data" action="">

                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a id="Back" href="@Url.Action("Index")" class="btn btn-outline-primary">返回</a>
                                <span class="required font-weight-bold">*</span> <small>為必填欄位</small>
                            </h6>

                            <div class="score">目前分數：<span id="current-score">@BasicScore</span></div>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%; text-align: center;">建立日期</th>
                                        <th style="width:40%; text-align: center;">加減分項目</th>
                                        <th style="width:10%; text-align: center;">加減分</th>
                                        <th style="width:35%; text-align: center;">備註</th>
                                    </tr>
                                </thead>
                                <tbody id="score-log">
                                    @if (Model.EditModel.HistoryModel != null)
                                    {
                                        foreach (var item in Model.EditModel.HistoryModel)
                                        {
                                            <tr>
                                                <td style="text-align: center;">@item.Created.Value.ToString("yyyy/MM/dd")</td>
                                                <td>@item.ItemName</td>
                                                <td style="text-align: center;">@item.Score</td>
                                                <td>@item.Memo</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <hr>

                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Created)<span class="required">*</span></th>
                                        <td>
                                            @Html.DisplayFor(m => m.EditModel.Created)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.LastModified)<span class="required">*</span></th>
                                        <td>
                                            @Html.DisplayFor(m => m.EditModel.LastModified)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.SchoolYear)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.EditModel.SchoolYear, (List<SelectListItem>)ViewBag.ddlSchoolYear, "請選擇學年度", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.ClubID)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.EditModel.ClubID, (List<SelectListItem>)ViewBag.ddlClub, "請選擇社團", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.ClubEvaluationClassId)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.EditModel.ClubEvaluationClassId, (List<SelectListItem>)ViewBag.ddlClassId, "請選擇類別", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.ClubEvaluationItemId)<span class="required">*</span></th>
                                        <td>
                                            @Html.DropDownListFor(m => m.EditModel.ClubEvaluationItemId, (List<SelectListItem>)ViewBag.ddlItemId, "請選擇項目", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Score)<span class="required">*</span></th>
                                        <td>@Html.TextBoxFor(m => m.EditModel.Score, new { @class = "form-control", type = "number" })</td>
                                    </tr>
                                    <tr>
                                        <th width="15%">@Html.LabelFor(m => m.EditModel.Memo)</th>
                                        <td>@Html.TextAreaFor(m => m.EditModel.Memo, new { @class = "form-control", row = "6" })</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="mx-1 btn btn-outline-dark" onclick="Reset()">重設</button>
                            <button type="button" class="btn btn-success" onclick="SaveData()">儲存</button>
                        </div>
                    </div>
                    <!-- /.card -->
                    @Html.HiddenFor(m => m.EditModel.ClubEvaluationId)
                </form>
                <!-- /.form -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>


    function SaveData() {

        var data = new FormData()
        var ID = $('#@Html.IdFor(m => m.EditModel.ClubEvaluationId)').val();
        var SchoolYear = $('#@Html.IdFor(m => m.EditModel.SchoolYear)').val();
        var ClubID = $('#@Html.IdFor(m => m.EditModel.ClubID)').val();
        var ClubEvaluationClassId = $('#@Html.IdFor(m => m.EditModel.ClubEvaluationClassId)').val();
        var ClubEvaluationItemId = $('#@Html.IdFor(m => m.EditModel.ClubEvaluationItemId)').val();
        var Score = $('#@Html.IdFor(m => m.EditModel.Score)').val();
        var Memo = $('#@Html.IdFor(m => m.EditModel.Memo)').val();

        if (SchoolYear == "") { $.alert("學年度不可為空白"); return; }
        if (ClubID == "") { $.alert("社團名稱不可為空白"); return; }
        if (ClubEvaluationClassId == "") { $.alert("類別不可為空白"); return; }
            if (ClubEvaluationItemId == "") { $.alert("項目不可為空白"); return; }
        if (Score == "") { $.alert("名稱不可為空白"); return; }

        data.append('@Html.NameFor(m => m.EditModel.ClubEvaluationId)', ID);
        data.append('@Html.NameFor(m => m.EditModel.SchoolYear)', SchoolYear);
        data.append('@Html.NameFor(m => m.EditModel.ClubID)', ClubID);
        data.append('@Html.NameFor(m => m.EditModel.ClubEvaluationClassId)', ClubEvaluationClassId);
        data.append('@Html.NameFor(m => m.EditModel.ClubEvaluationItemId)', ClubEvaluationItemId);
        data.append('@Html.NameFor(m => m.EditModel.Score)', Score);
        data.append('@Html.NameFor(m => m.EditModel.Memo)', Memo);

        SendAjax({
            url: '@Url.Action("EditOldData")',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.errorCode == 0) {
                    $.confirm({
                        title: "",
                        content: "修改成功",
                        buttons: {
                            確定: function () {
                                window.location = $("#Back").attr("href");
                            },
                        }
                    });
                }
                else { $.alert(result.errorMsg); }
            },
        });
    }

    function Reset() {
        $('#@Html.IdFor(m => m.EditModel.SchoolYear)').val("");
        $('#@Html.IdFor(m => m.EditModel.ClubID)').val("");
        $('#@Html.IdFor(m => m.EditModel.ClubEvaluationClassId)').val("");
        $('#@Html.IdFor(m => m.EditModel.ClubEvaluationItemId)').val("");
        $('#@Html.IdFor(m => m.EditModel.Score)').val("");
        $('#@Html.IdFor(m => m.EditModel.Memo)').val("");
    }
</script>